<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.report.mapper.CustomerReceiveMapper">

    <select id="findByEndDateAndCustomerIdList" resultType="CustomerReceiveDto">
        SELECT
        temp.customerId,
        SUM (temp.endShouldGet) AS endShouldGet
        FROM
        (
        SELECT
        t2.FCONTACTUNIT AS customerId,
        t1.FAMOUNT AS endShouldGet
        FROM
        T_AR_OTHERRECABLEENTRY t1
        JOIN T_AR_OTHERRECABLE t2 ON t1.FID = t2.FID
        WHERE
        t2.FDATE &lt;#{dateEnd}
        and t2.FCONTACTUNIT in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        t2.FRETCUSTID AS customerId,
        - t3.FAMOUNT AS endShouldGet
        FROM
        T_SAL_RETURNSTOCKENTRY t1
        JOIN T_SAL_RETURNSTOCK t2 ON t1.FID = t2.FID
        JOIN T_SAL_RETURNSTOCKENTRY_F t3 ON t2.FID = t3.FID  AND t1.FENTRYID = t3.FENTRYID
        LEFT JOIN T_BAS_BILLTYPE_L t4 ON t4.FBILLTYPEID = t2.FBILLTYPEID
        WHERE
        t4.FNAME = '标准销售退货单'
        and t2.FDATE &lt;#{dateEnd}
        and t2.FRETCUSTID in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        t2.FCUSTOMERID AS customerId,
        t3.FALLAMOUNT AS endShouldGet
        FROM
        T_SAL_OUTSTOCKENTRY t1
        JOIN T_SAL_OUTSTOCK t2 ON t1.FID = t2.FID
        JOIN T_SAL_OUTSTOCKENTRY_F t3 ON t1.FID = t3.FID AND t1.FENTRYID = t3.FENTRYID
        LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
        WHERE
        t4.FNAME = '标准销售出库单'
        and t2.FDATE &lt;#{dateEnd}
        and t2.FCUSTOMERID in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        t2.FCONTACTUNIT AS customerId,
        - t1.FRECAMOUNT_E AS endShouldGet
        FROM
        T_AR_RECEIVEBILLENTRY t1
        JOIN T_AR_RECEIVEBILL t2 ON t1.FID = t2.FID
        WHERE
        t2.FDATE &lt;#{dateEnd}
        and t2.FCONTACTUNIT in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        t2.FCONTACTUNIT AS customerId,
        t1.FREALREFUNDAMOUNTFOR AS endShouldGet
        FROM
        T_AR_REFUNDBILLENTRY t1
        JOIN T_AR_REFUNDBILL t2 ON t2.FID = t1.FID
        WHERE
        t2.FDATE &lt;#{dateEnd}
        and t2.FCONTACTUNIT in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) temp
        GROUP BY
        temp.customerId
    </select>

    <select id="findByPeriodForBillSum" resultType="CustomerReceiveDetailDto">
        select t.customerId as customerId, t.customerName,t.billType,t.billNo,t.billDate,t.amount,t.billStatus
        from (
            SELECT
            t2.FCONTACTUNIT AS customerId,
            t5.FNAME AS customerName,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            t1.FAMOUNT AS amount,
            t2.FDocumentStatus AS billStatus
            FROM
            T_AR_OTHERRECABLEENTRY t1
            JOIN T_AR_OTHERRECABLE t2 ON t1.FID = t2.FID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L t5 ON t2.FCONTACTUNIT = t5.FCUSTID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FCONTACTUNIT = #{customerId}
        union all
            SELECT
            t2.FCONTACTUNIT AS customerId,
            t5.FNAME AS customerName,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            t1.FRECAMOUNT_E AS amount,
            t2.FDocumentStatus AS billStatus
            FROM
            T_AR_RECEIVEBILLENTRY t1
            JOIN T_AR_RECEIVEBILL t2 ON t1.FID = t2.FID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L t5 ON t2.FCONTACTUNIT = t5.FCUSTID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FCONTACTUNIT = #{customerId}
        union all
            SELECT
            t2.FCONTACTUNIT AS customerId,
            t5.FNAME AS customerName,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            t1.FREALREFUNDAMOUNT AS amount,
            t2.FDocumentStatus AS billStatus
            FROM
            T_AR_REFUNDBILLENTRY t1
            JOIN T_AR_REFUNDBILL t2 ON t2.FID = t1.FID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L t5 ON t2.FCONTACTUNIT = t5.FCUSTID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FCONTACTUNIT = #{customerId}
        union all
            SELECT
            t2.FRETCUSTID AS customerId,
            t5.FNAME as customerName,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            sum(t3.FAMOUNT) AS amount,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY t1
            JOIN T_SAL_RETURNSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F t3 ON t2.FID = t3.FID and t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t4.FBILLTYPEID = t2.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L t5 ON t2.FRETCUSTID = t5.FCUSTID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FRETCUSTID = #{customerId} and
            t4.FNAME= '标准销售退货单'
            group by
            t2.FRETCUSTID,
            t5.FNAME,
            t4.FNAME,
            t2.FBillNo,
            t2.FDATE,
            t2.FDOCUMENTSTATUS
        union all
        SELECT
            t2.FCUSTOMERID AS customerId,
            t5.FNAME AS customerName,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            sum(t3.FALLAMOUNT) AS amount,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY t1
            JOIN T_SAL_OUTSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_OUTSTOCKENTRY_F t3 ON t1.FID = t3.FID
            AND t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L t5 ON t2.FCUSTOMERID = t5.FCUSTID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FCUSTOMERID = #{customerId} and
            t4.FNAME= '标准销售出库单'
            group by
            t2.FCUSTOMERID,
            t5.FNAME,
            t4.FNAME,
            t2.FBillNo,
            t2.FDATE,
            t2.FDOCUMENTSTATUS
        union all
            SELECT
            t2.FRETCUSTID AS customerId,
            t5.FNAME as customerName,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            sum(t3.FAMOUNT) AS amount,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY t1
            JOIN T_SAL_RETURNSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F t3 ON t2.FID = t3.FID and t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t4.FBILLTYPEID = t2.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L t5 ON t2.FRETCUSTID = t5.FCUSTID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FRETCUSTID = #{customerId} and
            t4.FNAME='现销退货单'
            group by
            t2.FRETCUSTID,
            t5.FNAME,
            t4.FNAME,
            t2.FBillNo,
            t2.FDATE,
            t2.FDOCUMENTSTATUS
        union all
        SELECT
            t2.FCUSTOMERID AS customerId,
            t5.FNAME AS customerName,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            sum(t3.FALLAMOUNT) AS amount,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY t1
            JOIN T_SAL_OUTSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_OUTSTOCKENTRY_F t3 ON t1.FID = t3.FID
            AND t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L t5 ON t2.FCUSTOMERID = t5.FCUSTID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FCUSTOMERID = #{customerId} and
            t4.FNAME='现销出库单'
            group by
            t2.FCUSTOMERID,
            t5.FNAME,
            t4.FNAME,
            t2.FBillNo,
            t2.FDATE,
            t2.FDOCUMENTSTATUS
        ) t
        order by t.customerId, t.billDate, t.billNo
    </select>

    <select id="findByPeriodForMaterial" resultType="CustomerReceiveDetailDto">
            SELECT
            t2.FRETCUSTID AS customerId,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            t1.FMATERIALID as materialId,
            t6.fname as materialName,
            t1.FBASEUNITQTY AS qty,
            t3.FPRICE AS price,
            t3.FAMOUNT AS amount,
            t1.FNOTE AS note,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY t1
            JOIN T_SAL_RETURNSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F t3 ON t2.FID = t3.FID and t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t4.FBILLTYPEID = t2.FBILLTYPEID
            left JOIN T_BD_MATERIAL_L t6 ON t1.FMATERIALID = t6.FMATERIALID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FRETCUSTID = #{customerId} and
            t4.FNAME= '标准销售退货单'
        union all
            SELECT
            t2.FCUSTOMERID AS customerId,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            t1.FMATERIALID AS materialId,
            t6.FNAME AS materialName,
            t1.FREALQTY AS qty,
            t3.FTAXPRICE AS price,
            t3.FALLAMOUNT AS amount,
            t1.FNOTE AS remarks,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY t1
            JOIN T_SAL_OUTSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_OUTSTOCKENTRY_F t3 ON t1.FID = t3.FID
            AND t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
            LEFT JOIN T_BD_MATERIAL_L t6 ON t1.FMATERIALID = t6.FMATERIALID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FCUSTOMERID = #{customerId} and
            t4.FNAME= '标准销售出库单'
        union all
            SELECT
            t2.FRETCUSTID AS customerId,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            t1.FMATERIALID as materialId,
            t6.fname as materialName,
            t1.FBASEUNITQTY AS qty,
            t3.FPRICE AS price,
            t3.FAMOUNT AS amount,
            t1.FNOTE AS note,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY t1
            JOIN T_SAL_RETURNSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F t3 ON t2.FID = t3.FID and t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t4.FBILLTYPEID = t2.FBILLTYPEID
            left JOIN T_BD_MATERIAL_L t6 ON t1.FMATERIALID = t6.FMATERIALID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FRETCUSTID = #{customerId} and
            t4.FNAME='现销退货单'
        union all
            SELECT
            t2.FCUSTOMERID AS customerId,
            t4.FNAME AS billType,
            t2.FBillNo AS billNo,
            t2.FDATE AS billDate,
            t1.FMATERIALID AS materialId,
            t6.FNAME AS materialName,
            t1.FREALQTY AS qty,
            t3.FTAXPRICE AS price,
            t3.FALLAMOUNT AS amount,
            t1.FNOTE AS remarks,
            t2.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY t1
            JOIN T_SAL_OUTSTOCK t2 ON t1.FID = t2.FID
            JOIN T_SAL_OUTSTOCKENTRY_F t3 ON t1.FID = t3.FID
            AND t1.FENTRYID = t3.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L t4 ON t2.FBILLTYPEID = t4.FBILLTYPEID
            LEFT JOIN T_BD_MATERIAL_L t6 ON t1.FMATERIALID = t6.FMATERIALID
            WHERE
            t2.FDATE &gt;=#{dateStart} AND
            t2.FDATE  &lt;=#{dateEnd} and
            t2.FCUSTOMERID = #{customerId} and
            t4.FNAME='现销出库单'
    </select>

</mapper>
