<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.input.mapper.BdAccountMapper">
    <select id="findFNumberByName" resultType="String">
        select
        t1.FNUMBER
        from
        T_BD_ACCOUNT t1,
        T_BD_ACCOUNT_L  t2
        where
        t1.FACCTID = t2.FACCTID
        and  t2.FNAME = #{name}
    </select>

    <select id="findAllSubject" resultType="BdAccount">
        select
        t1.FACCTID,
        t2.FFULLNAME,
        t1.FNUMBER,
        t2.FNAME,
        t1.FITEMDETAILID
        from
        T_BD_ACCOUNT t1,
        T_BD_ACCOUNT_L  t2
        where
        t1.FACCTID = t2.FACCTID
        and t2.FLOCALEID = 2052
    </select>
</mapper>
