<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.input.mapper.CnBankMapper">
    <select id="findAll" resultType="CnBank">
        SELECT
        t1.FBANKACNTID,
        t1.FNUMBER,
        t1.FMODIFYDATE,
        t2.FNAME
        FROM
        T_CN_BANKACNT t1,
        T_CN_BANKACNT_L t2
        WHERE
        t1.FBANKACNTID = t2.FBANKACNTID
    </select>

    <select id="findByDate" resultType="CnBank">
        SELECT
        t1.FBANKACNTID,
        t1.FNUMBER,
        t1.FMODIFYDATE,
        t2.FNAME
        FROM
        T_CN_BANKACNT t1,
        T_CN_BANKACNT_L t2
        WHERE
        t1.FBANKACNTID = t2.FBANKACNTID
        AND t1.FMODIFYDATE > #{maxOutDate}
    </select>
</mapper>
