<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.input.mapper.BdFlexItemMapper">
    <select id="findFlexItemGroup" resultType="BdFlexItemGroup">
      select
      t1.FID,
      t1.FNUMBER,
      t2.FNAME
      from
      T_BD_FLEXITEMGROUP t1,
      T_BD_FLEXITEMGROUP_L t2
      where
      t1.FID = t2.FID
      and t1.FID in (
            select DISTINCT FITEMDETAILID
            from T_BD_ACCOUNT
          )
      order by t1.FID
    </select>

    <select id="findBdFlexItemProperty" resultType="BdFlexItemProperty">
        select
        t1.FID,
        t1.FNUMBER,
        t2.FNAME,
        t1.FFLEXNUMBER
        from
        T_BD_FLEXITEMPROPERTY t1,
        T_BD_FLEXITEMPROPERTY_L t2
        where
        t1.FID = t2.FID
        order by t2.FID
    </select>

</mapper>
