<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.input.mapper.BdSettleTypeMapper">
    <select id="findAll" resultType="BdSettleType">
        select
        t.FID,
        t.FNUMBER,
        tl.FNAME
        from
        T_BD_SETTLETYPE t,
        T_BD_SETTLETYPE_L tl
        where t.FID = tl.FID
    </select>
</mapper>
