<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.tool.modules.vivo.mapper.VivoMapper">

  <select id="findPlantProducts" resultType="VivoPlantProducts">
      select *  from vr_products_m13e00
  </select>

    </mapper>