<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.tool.modules.vivo.mapper.VivoProductsMapper">

    <select id="findColorIds" resultType="String">
        select
         t.color_id
         from vivo_products t
          where t.color_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="batchSave">
        INSERT INTO vivo_products
        (
            type_id,
            color_id,
            color_name,
            type_name,
            brand_name,
            remark,
            short_cut,
            code_record_type,
            short_cut_color,
            unit,
            brand_type
        )VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.typeId},
            #{item.colorId},
            #{item.colorName},
            #{item.typeName},
            #{item.brandName},
            #{item.remark},
            #{item.shortCut},
            #{item.codeRecordType},
            #{item.shortCutColor},
            #{item.unit},
            #{item.brandType}
            )
        </foreach>
    </insert>

    <select id="findAll" resultType="String">
        select
         t.color_id
         from vivo_products t
    </select>

    </mapper>