<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!production">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="net.myspring.basic.modules.sys.mapper" level="DEBUG"/>
        <logger name="net.myspring.basic.modules.hr.mapper" level="DEBUG"/>
    </springProfile>
    <springProfile name="production">
        <include resource="org/springframework/boot/logging/logback/default.xml"/>
        <logger name="net.myspring.basic.modules.sys.mapper" level="DEBUG"/>
        <logger name="net.myspring.basic.modules.hr.mapper" level="DEBUG"/>
    </springProfile>
</configuration>
