<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.AdApplyMapper">
    <select id="findPage" resultType="AdApplyDto">
        select adApply.*
        from crm_ad_apply adApply,crm_product product
        where adApply.enabled = 1
        AND adApply.product_id = product.id
        <!--<include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter" />-->
        <include refid="filter"></include>
    </select>

    <select id="findByOutGroupIdAndDate" resultType="AdApply">
        select adApply.*
        from crm_ad_apply adApply
        where adApply.enabled = 1
        AND  adApply.confirm_qty > adApply.billed_qty
        and   created_date>#{p.createdDateStart}
        and   adApply.product_id in (
            select product.id
            from crm_product product
            where product.enabled = 1 and product.out_group_id in
            <foreach collection="p.outGroupIds" index="index" item="item" open="(" separator="," close=")">
                #{p.outGroupIds[${index}]}
            </foreach>
        )
    </select>

    <select id="findByFilter" resultType="AdApply">
        select adApply.*
        from crm_ad_apply adApply,crm_product product
        where adApply.enabled = 1
        <include refid="filter"></include>
    </select>

    <select id="findAllId" resultType="String">
        select adApply.id
        from crm_ad_apply adApply
        where adApply.enabled = 1
    </select>

    <sql id="filter">
        <if test="p.shopId != null">
            and adApply.shop_id = #{p.shopId}
        </if>
        <if test="p.createdBy != null">
            and adApply.created_by = #{p.createdBy}
        </if>
        <if test="p.createdDateStart != null">
            and adApply.created_date >= #{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd != null">
            and adApply.created_date &lt; #{p.createdDateEnd}
        </if>
        <if test="p.productName != null">
            and product.name = #{p.productName}
        </if>
        <!--是否开单<if test="p.bill != null">
            and product.name = #{p.productName}
        </if>-->
    </sql>
</mapper>
