<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.AdGoodsOrderDetailMapper">

    <delete id="deleteById">
        DELETE  FROM crm_ad_goods_order_detail where ad_goods_order_id = #{adGoodsOrderId}
    </delete>

    <select id="findByAdGoodsOrderIds" resultType="AdGoodsOrderDetailDto">
        SELECT t1.*
        FROM crm_ad_goods_order_detail t1
        where t1.ad_goods_order_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByAdGoodsOrderForEdit" resultType="AdGoodsOrderDetailDto">
        SELECT
        validProduct.id productId,validProduct.name productName,validProduct.code productCode,
        validProduct.price2 price2,validProduct.remarks productRemarks,
        detail.*
        FROM
        (SELECT t1.* FROM crm_product t1 WHERE t1.id IN ( SELECT t3.id FROM crm_product t3 WHERE t3.out_group_id in <foreach
                                    collection="outGroupIdList" item="item" index="index" open="(" separator="," close=")"> #{item}
                          </foreach>)
        AND t1.enabled = 1 ) validProduct LEFT JOIN crm_ad_goods_order_detail detail ON validProduct.id = detail.product_id
        AND detail.ad_goods_order_id = #{adGoodsOrderId} ORDER BY detail.qty DESC
    </select>


    <select id="findByAdGoodsOrderForNew" resultType="AdGoodsOrderDetailDto">
        SELECT t1.id productId,t1.name productName,t1.code productCode,
        t1.price2 price2,t1.remarks productRemarks
        FROM crm_product t1 WHERE t1.out_group_id in
        <foreach collection="outGroupIdList" item="item" index="index" open="(" separator="," close=")">#{item}
        </foreach>
        AND t1.enabled = 1
    </select>
</mapper>
