<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopAdMapper">

    <select id="findPage" resultType="ShopAdDto">
        SELECT
        depot.office_id officeId,t1.*
        FROM
        crm_shop_ad t1,crm_depot depot,crm_shop_ad_type
        WHERE
        t1.enabled=1
        and t1.shop_id=depot.id
        <include refid="shopAdFilter" />
    </select>

    <select id="findByFilter" resultType="ShopAd">
        SELECT
        t1.*
        FROM
        crm_shop_ad t1
        WHERE
        t1.enabled=1
        <include refid="shopAdFilter"/>
    </select>

    <sql id="shopAdFilter">
        <if test="p.shopAdTypeId != null">
            AND t1.shop_ad_type_id = #{p.shopAdTypeId}
        </if>
        <if test="p.processStatus != null">
            AND t1.process_status  = #{p.processStatus}
        </if>
        <if test="p.createdDateStart !=null">
            AND t1.created_date>=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd != null">
            AND t1.created_date &lt;#{p.createdDateEnd}
        </if>
        <if test="p.shopId !=null">
            and t1.shop_id=#{p.shopId}
        </if>
        <if test="p.createdBy !=null">
            and t1.created_by =#{p.createdBy}
        </if>
        <if test="p.specialArea != null">
            AND t1.special_area = #{p.specialArea}
        </if>
        <if test="p.id != null">
            AND t1.id = #{p.id}
        </if>
        <if test="p.officeId != null">
            and depot.office_id = #{p.officeId}
        </if>
    </sql>

</mapper>
