<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopBuildMapper">

    <select id="findPage" resultType="ShopBuildDto">
        SELECT
        depot.office_id officeId,t1.*
        FROM
        crm_shop_build t1,crm_depot depot
        WHERE
        t1.enabled=1
        and t1.shop_id=depot.id
        <if test="p.fixtureType !=null">
            and t1.fixture_type=#{p.fixtureType}
        </if>
        <if test="p.shopId != null">
            and t1.shop_id =#{p.shopId}
        </if>
        <if test="p.createdDateStart !=null">
            and  t1.created_date >=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            and  t1.created_date &lt;#{p.createdDateEnd}
        </if>
        <if test="p.positionId !=null">
            and t1.process_position_id =#{p.positionId}
        </if>
        <if test="p.createdBy !=null">
            and t1.created_by =#{p.createdBy}
        </if>
        <if test="p.officeId !=null">
            and depot.office_id = #{p.officeId}
        </if>
    </select>
    <select id="findByFilter" resultType="ShopBuild">
        SELECT
        t1.*
        FROM
        crm_shop_build t1
        WHERE
        t1.enabled=1
    </select>
</mapper>
