<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopPromotionMapper">

<select id="findPage" resultType="ShopPromotionDto">
    SELECT
    t1.*
    FROM
    crm_shop_promotion t1
    WHERE
    t1.enabled=1
    <if test = "p.businessId !=null">
        AND t1.business_id LIKE CONCAT('%',#{p.businessId},'%')
    </if>
    <if test = "p.activityType !=null">
        AND t1.activity_type = #{p.activityType}
    </if>
    <if test="p.shopId !=null">
        AND t1.shop_id = #{p.shopId}
    </if>
    <!--<include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter" />-->
</select>

    <select id="findMaxBusinessId" resultType="String">
        SELECT
       MAX(t1.business_id)
        FROM
        crm_shop_promotion t1
        WHERE
            t1.created_date>=#{localDate}
    </select>
</mapper>
