<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopImageMapper">

    <select id="findPage" resultType="ShopImageDto">
        SELECT
        depot.office_Id officeId,t1.*
        FROM
        crm_shop_image t1,
        crm_depot depot
        WHERE
        t1.enabled=1
        and t1.shop_id=depot.id
        <if test="p.shopId != null">
            AND t1.shop_id =#{p.shopId}
        </if>
        <if test="p.officeId != null">
            AND depot.office_id =#{p.officeId}
        </if>
    </select>
</mapper>
