<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopAllotMapper">

    <select id="findPage" resultType="ShopAllot">
        SELECT  t1.*
        FROM  crm_shop_allot t1,crm_depot depot
        where t1.enabled=1
        and (t1.from_shop_id=depot.id or t1.to_shop_id=depot.id)
        <include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter" />
    </select>

    <select id="findMaxBusinessId" resultType="String">
        select max(t.business_id) from crm_shop_allot t where  t.created_date &gt;= #{localDate}
    </select>

    <sql id="shopAllotFilter">
        <if test="p.fromShopId!=null">
            and t1.from_shop_id=#{p.fromShopId}
        </if>
        <if test="p.toShopId!=null">
            and t1.to_shop_id=#{p.toShopId}
        </if>
        <if test="p.status!=null">
            and t1.status=#{p.status}
        </if>
        <if test="p.businessId!=null">
            and t1.business_id like concat('%',#{p.businessId},'%')
        </if>
        <if test="p.createdDateStart != null">
            AND t1.created_date >=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd != null">
            AND t1.created_date &lt;=#{p.createdDateEnd}
        </if>
    </sql>

</mapper>
