<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopBuildMapper">

    <select id="findPage" resultType="ShopBuild">
        SELECT
        t1.*
        FROM
        crm_shop_build t1,crm_depot depot,hr_office office
        WHERE
        t1.enabled=1
        and t1.shop_id=depot.id
        and depot.office_id=office.id
        <include refid="net.myspring.future.modules.crm.mapper.DepotMapper.depotFilter" />
        <if test="p.processFlow !=null">
            and t1.process_flow_id = #{p.processFlow}
        </if>
        <if test="p.fixtureType !=null">
            and t1.fixture_type=#{p.fixtureType}
        </if>
        <if test="p.shopName != null and p.shopName !=''">
            AND t1.shop_id in (
            select t2.id
            from crm_depot t2
            where t2.name LIKE CONCAT('%',#{p.shopName},'%')
            )
        </if>
        <if test="p.createdDateStart !=null">
            and  t1.created_date >=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            and  t1.created_date &lt;=#{p.createdDateEnd}
        </if>
        <if test="p.createdBy !=null">
            AND t1.created_by in(
            select t3.id
            from hr_account t3
            where t3.login_name like concat('%',#{p.createdBy},'%')
            )
        </if>
        <if test="p.positionId !=null">
           and t1.process_flow_id in (
                select t2.id
                from sys_process_flow t2
                where t2.position_id = #{p.positionId}
            )
        </if>
        <if test="p.officeId !=null">
            and office.id = #{p.officeId}
        </if>
    </select>
    <select id="findByFilter" resultType="ShopBuild">
        SELECT
        t1.*
        FROM
        crm_shop_build t1
        WHERE
        t1.enabled=1
    </select>
</mapper>
