<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopGoodsDepositMapper">

    <select id="findByShopId" resultType="ShopGoodsDeposit">
        SELECT t1.*
        FROM  crm_shop_goods_deposit t1
        where t1.enabled=1
        and t1.shop_id=#{shopId}
        and t1.status=#{status}
        order by created_date desc
    </select>

    <select id="findPage" resultType="ShopGoodsDeposit">
        select t1.*
        from crm_shop_goods_deposit t1 ,crm_depot depot
        where t1.enabled = 1
        and t1.shop_id = depot.id
        <include refid="net.myspring.future.modules.crm.mapper.DepotMapper.depotFilter"/>
        <if test="p.createdDateStart !=null">
            AND t1.created_date &gt;=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            AND t1.created_date &lt;=#{p.createdDateEnd}
        </if>
        <if test="p.remarks !=null">
            and t1.out_code like concat('%',#{p.remarks},'%')
        </if>
        <if test="p.status !=null">
            and t1.status=#{p.status}
        </if>
        <if test="p.amount !=null">
            and t1.amount=#{p.amount}
        </if>
        <if test="p.outBillType !=null">
            and t1.out_bill_type=#{p.outBillType}
        </if>
        <if test="p.shopName!=null">
            and t1.shop_id in(
            select shop.id
            from crm_depot shop
            where shop.name like concat('%',#{p.shopName},'%')
            )
        </if>
        <if test="p.bankName!=null">
            and t1.bank_id in(
            select bank.id
            from crm_bank bank
            where bank.name like concat('%',#{p.bankName},'%')
            )
        </if>
        <if test="p.createdBy !=null">
            and t1.created_by in(
            select id
            from hr_account
            where login_name like concat('%',#{p.createdBy},'%')
            and enabled=1
            )
        </if>
    </select>
</mapper>
