<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.sys.mapper.MenuCategoryMapper">

    <select id="findPage" resultType="MenuCategoryDto">
        SELECT
        t1.*
        FROM
        sys_menu_category t1
        WHERE
        t1.enabled=1
        <if test="p.name != null">
            AND t1.name LIKE CONCAT('%',#{p.name},'%')
        </if>
        <if test="p.sort != null">
            AND t1.sort LIKE CONCAT('%',#{p.sort},'%')
        </if>
    </select>

    <select id="findByName" resultType="MenuCategory">
        SELECT
        t1.*
        FROM
        sys_menu_category t1
        WHERE
        t1.enabled=1
        AND t1.name =#{p.name}
    </select>

</mapper>
