<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.sys.mapper.OfficeBusinessMapper">

    <select id="findBusinessIdById" resultType="OfficeBusiness">
        SELECT  t1.*
        FROM sys_office_business t1
        where t1.enabled=1
        and t1.office_id=#{id}
    </select>

    <select id="findAllBusinessIdById" resultType="OfficeBusiness">
        SELECT  t1.*
        FROM sys_office_business t1
        where  t1.office_id=#{id}
    </select>

    <update id="removeByBusinessOfficeIds">
        UPDATE  sys_office_business set enabled=0 where business_office_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="setEnabledByOfficeId">
        UPDATE  sys_office_business set enabled=#{enabled} where office_id=#{officeId}
    </update>

</mapper>
