<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.sys.mapper.OfficeMapper">

    <select id="findByOfficeRuleName" resultType="Office">
        SELECT t1.*
        FROM sys_office t1,sys_office_rule t2
        where t1.office_rule_id=t2.id
        and t2.name=#{officeRuleName}
        and t1.enabled =1
    </select>

    <select id="findByAccountId" resultType="Office">
        SELECT t1.*
        FROM sys_office t1,hr_account t3
        where t1.enabled=1
        and t1.id=t3.office_id
        and t3.id=#{accountId}
    </select>

    <select id="findByAccountIds" resultType="Office">
        SELECT t1.*
        FROM sys_office t1,hr_account t3
        where t1.enabled=1
        and t1.id=t3.office_id
        and t3.account_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByParentIdsLike" resultType="Office">
        SELECT t1.*
        FROM sys_office t1
        where t1.parent_ids like CONCAT('%',#{parentId},'%')
        and t1.enabled =1
    </select>

    <select id="findByParentIdsListLike" resultType="Office">
        SELECT t1.*
        FROM sys_office t1
        where  t1.enabled =1
        and (
        <foreach collection="list" item="item" index="index" open="" separator="or" close="">
            t1.parent_ids like CONCAT('%',#{item},'%')
        </foreach>
        )
    </select>

    <select id="findByFilter" resultType="Office">
        select office.*
        from
        sys_office office
        where
        office.enabled=1
        <if test="p.name != null">
            and office.name like CONCAT('%',#{p.name},'%')
        </if>
        <if test="p.id != null">
            and office.id=#{p.id}
        </if>
        <include refid="officeFilter"/>
        order by office.name
        limit 0,20
    </select>

    <select id="findByFilterAll" resultType="Office">
        select office.*
        from
        sys_office office
        where
        office.enabled=1
        <include refid="officeFilter"/>
        order by office.id
    </select>



    <select id="findByIds" resultType="Office">
        SELECT t1.id,t1.name
        FROM sys_office t1
        WHERE t1.enabled = 1
        and t1.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByAreaIds" resultType="Office">
        SELECT t1.*
        FROM sys_office t1
        where t1.enabled=1
        and (
        t1.id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        <foreach collection="list" item="item" index="index" open="" separator="" close="">
            or t1.parent_ids like concat('%,',#{item},'%')
        </foreach>
        )
    </select>

    <select id="findPage" resultType="OfficeDto">
        SELECT
        t1.*
        FROM
        sys_office t1
        WHERE t1.enabled=1
        <if test="p.name !=null">
            AND t1.name LIKE CONCAT('%',#{p.name},'%')
        </if>
    </select>

    <select id="findByOfficeIdAndRuleId" resultType="Office">
        SELECT t1.*
        FROM sys_office t1,sys_office_rule t2
        where t1.enabled=1
        and t2.enabled=1
        and t1.office_rule_id=t2.id
        and (t1.parent_ids like concat(',',#{officeId},',') or t1.id=#{officeId})
        and t1.office_rule_id=#{officeRuleId}
    </select>

    <select id="findSameAreaByOfficeId" resultType="Office">
        SELECT t1.*
        FROM sys_office t1
        WHERE t1.enabled=1
        and t1.area_id  = (
            SELECT
            t2.area_id
            FROM
            sys_office t2
            WHERE
            t2.id = #{officeId}
         )
    </select>


    <sql id="officeFilter">
        <if test="p.officeIds !=null and p.officeIds.size() !=0">
            and office.id IN
            <foreach collection="p.officeIds" index="index" item="item" open="(" separator="," close=")">
                #{p.officeIds[${index}]}
            </foreach>
        </if>
    </sql>

</mapper>
