<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.sys.mapper.OfficeRuleMapper">

    <select id="findPage" resultType="OfficeRuleDto">
        SELECT t1.*
        FROM sys_office_rule t1
        where t1.enabled=1
    </select>

    <select id="findByName" resultType="OfficeRule">
        SELECT t1.*
        FROM sys_office_rule t1
        where t1.enabled=1
        and t1.name=#{name}
    </select>

    <select id="findByType" resultType="OfficeRule">
        SELECT t1.*
        FROM sys_office_rule t1
        where t1.enabled=1
        and t1.type=#{type}
    </select>

    <select id="findMaxLevel" resultType="OfficeRule">
        SELECT t1.*
        FROM sys_office_rule t1
        where t1.enabled=1
        order BY  t1.level DESC
        limit 0,1
    </select>

    <select id="findNextOfficeRule" resultType="OfficeRule">
        SELECT t1.*
        FROM sys_office_rule t1
        where t1.enabled=1
        and t1.level > (
          SELECT level FROM sys_office_rule where id=#{id}
        )
        limit 0,1
    </select>

</mapper>
