<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.sys.mapper.RoleMapper">
    <select id="findPage" resultType="RoleDto">
        SELECT t1.*
        FROM  sys_role t1
        where t1.enabled=1
    </select>

    <select id="findByNameLike" resultType="Role">
        SELECT t1.*
        FROM sys_role t1
        where t1.enabled=1
        and t1.name like concat('%',#{name},'%')
    </select>

    <select id="findByAccountId" resultType="Role">
        SELECT t1.*
        from sys_role t1,hr_position t2,hr_account t3
        where t1.enabled=1
        and t3.position_id=t2.id
        and t2.role_id=t1.id
        and t3.enabled=1
        and t2.enabled=1
        and t3.id=#{accountId}
    </select>
</mapper>
