<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.sys.mapper.RoleModuleMapper">

    <select id="findByRoleId" resultType="RoleModule">
        SELECT t1.*
        FROM  sys_role_module t1
        where t1.enabled=1
        and t1.role_id=#{roleId}
    </select>

    <select id="findAllByRoleId" resultType="RoleModule">
        SELECT t1.*
        FROM  sys_role_module t1
        where  t1.role_id=#{roleId}
    </select>


    <update id="setEnabledByRoleId">
        UPDATE  sys_role_module SET enabled=#{enabled} where role_id=#{roleId}
    </update>

    <update id="setEnabledByModuleIdList">
        UPDATE  sys_role_module SET enabled=#{enabled} where backend_module_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>
