<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.report.mapper.ConsignmentReportMapper">

	<select id="findInitialization" resultType="ConsignmentDto">
		SELECT
			e.FCUSTID as customerId,
			e.FNAME as customerName,
			a.FMATERIALID as materialId,
			f.FNAME as materialName,
			isnull(a.FQTY,0) AS quantity,
			a.F_PAEC_PRICE AS price,
			isnull(a.F_PAEC_AMOUNT,0) AS amount
		FROM
			T_STK_INVINITDETAIL a
		JOIN t_BD_Stock d ON a.FSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
	</select>

	<select id="findTransferInByPeriod" resultType="ConsignmentDto">
		SELECT
			e.FCUSTID as customerId,
			e.FNAME as customerName,
			a.FMATERIALID as materialId,
			f.FNAME as materialName,
			a.FQTY AS quantity,
			c.FTAXPRICE as price,
			c.FALLAMOUNT AS amount
		FROM
			T_STK_STKTRANSFERINENTRY a
		JOIN T_STK_STKTRANSFERIN b ON a.FID = b.FID
		JOIN T_STK_STKTRANSFERINENTRY_T c ON a.fid = c.fid AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FDESTSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
			b.FDATE &gt;=#{dateStart} and
			b.FDATE &lt;=#{dateEnd}
	</select>
	<select id="findTransferOutByPeriod" resultType="ConsignmentDto">
		SELECT
			e.FCUSTID as customerId,
			e.FNAME as customerName,
			a.FMATERIALID as materialId,
			f.FNAME as materialName,
			a.FQTY AS quantity,
			c.FTAXPRICE as price,
			c.FALLAMOUNT AS amount
		FROM
			T_STK_STKTRANSFERINENTRY a
		JOIN T_STK_STKTRANSFERIN b ON a.FID = b.FID
		JOIN T_STK_STKTRANSFERINENTRY_T c ON a.fid = c.fid AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FSRCSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
			b.FDATE &gt;=#{dateStart} and
			b.FDATE &lt;=#{dateEnd}
	</select>
	<select id="findOutStockByPeriod" resultType="ConsignmentDto">
		SELECT
			b.FCUSTOMERID AS customerId,
			e.FNAME as customerName,
			a.FMATERIALID as materialId,
			f.FNAME as materialName,
			a.FREALQTY AS quantity,
			c.FTAXPRICE AS price,
			c.FALLAMOUNT AS amount
		FROM
			T_SAL_OUTSTOCKENTRY a
		JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
		JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID
		AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
			b.FDATE &gt;=#{dateStart} and
			b.FDATE &lt;=#{dateEnd}
	</select>
	<select id="findReturnStockByPeriod" resultType="ConsignmentDto">
		SELECT
			b.FRETCUSTID AS customerId,
			e.FNAME as customerName,
			a.FMATERIALID as materialId,
			f.FNAME as materialName,
			a.FREALQTY AS quantity,
			c.FTAXPRICE AS price,
			c.FALLAMOUNT AS amount
		FROM
			T_SAL_RETURNSTOCKENTRY a
		JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
		JOIN T_SAL_RETURNSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
			b.FDATE &gt;=#{dateStart} and
			b.FDATE &lt;=#{dateEnd}
	</select>

	<select id="findTransferInByEndDate" resultType="ConsignmentDto">
		SELECT
		e.FCUSTID as customerId,
		e.FNAME as customerName,
		a.FMATERIALID as materialId,
		f.FNAME as materialName,
		a.FQTY AS quantity,
		c.FTAXPRICE as price,
		c.FALLAMOUNT AS amount
		FROM
		T_STK_STKTRANSFERINENTRY a
		JOIN T_STK_STKTRANSFERIN b ON a.FID = b.FID
		JOIN T_STK_STKTRANSFERINENTRY_T c ON a.fid = c.fid AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FDESTSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
		b.FDATE &lt; #{dateEnd}
	</select>
	<select id="findTransferOutByEndDate" resultType="ConsignmentDto">
		SELECT
		e.FCUSTID as customerId,
		e.FNAME as customerName,
		a.FMATERIALID as materialId,
		f.FNAME as materialName,
		a.FQTY AS quantity,
		c.FTAXPRICE as price,
		c.FALLAMOUNT AS amount
		FROM
		T_STK_STKTRANSFERINENTRY a
		JOIN T_STK_STKTRANSFERIN b ON a.FID = b.FID
		JOIN T_STK_STKTRANSFERINENTRY_T c ON a.fid = c.fid AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FSRCSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
		b.FDATE &lt; #{dateEnd}
	</select>
	<select id="findOutStockByEndDate" resultType="ConsignmentDto">
		SELECT
		b.FCUSTOMERID AS customerId,
		e.FNAME as customerName,
		a.FMATERIALID as materialId,
		f.FNAME as materialName,
		a.FREALQTY AS quantity,
		c.FTAXPRICE AS price,
		c.FALLAMOUNT AS amount
		FROM
		T_SAL_OUTSTOCKENTRY a
		JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
		JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
		b.FDATE &lt; #{dateEnd}
	</select>
	<select id="findReturnStockByEndDate" resultType="ConsignmentDto">
		SELECT
		b.FRETCUSTID AS customerId,
		e.FNAME as customerName,
		a.FMATERIALID as materialId,
		f.FNAME as materialName,
		a.FREALQTY AS quantity,
		c.FTAXPRICE AS price,
		c.FALLAMOUNT AS amount
		FROM
		T_SAL_RETURNSTOCKENTRY a
		JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
		JOIN T_SAL_RETURNSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
		JOIN t_BD_Stock d ON a.FSTOCKID = d.FSTOCKID
		JOIN T_BD_CUSTOMER_L e ON d.FCUSTOMERID = e.FCUSTID
		JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
		WHERE
		b.FDATE &lt; #{dateEnd}
	</select>
</mapper>
