<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.report.mapper.CustomerReceiveMapper">
    <select id="findByEndDate" resultType="CustomerReceiveDto">
        SELECT
        h.customerId,
        SUM (h.beginShouldGet) AS beginShouldGet
        FROM
        (
        SELECT
        b.FCONTACTUNIT AS customerId,
        a.FAMOUNT AS beginShouldGet
        FROM
        T_AR_OTHERRECABLEENTRY a
        JOIN T_AR_OTHERRECABLE b ON a.FID = b.FID
        JOIN T_BD_CUSTOMER e on e.FCUSTID = b.FCONTACTUNIT
        WHERE
        b.FDATE &lt;#{dateEnd}
        and e.FPRIMARYGROUP = #{primaryGroup}
        UNION ALL
        SELECT
        b.FRETCUSTID AS customerId,
        - c.FAMOUNT AS beginShouldGet
        FROM
        T_SAL_RETURNSTOCKENTRY a
        JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
        JOIN T_SAL_RETURNSTOCKENTRY_F c ON b.FID = c.FID  AND a.FENTRYID = c.FENTRYID
        JOIN T_BAS_BILLTYPE_L d ON d.FBILLTYPEID = b.FBILLTYPEID
        JOIN T_BD_CUSTOMER e on e.FCUSTID = b.FRETCUSTID
        WHERE
        d.FNAME = '标准销售退货单'
        and b.FDATE &lt;#{dateEnd}
        and e.FPRIMARYGROUP = #{primaryGroup}
        UNION ALL
        SELECT
        b.FCUSTOMERID AS customerId,
        c.FALLAMOUNT AS beginShouldGet
        FROM
        T_SAL_OUTSTOCKENTRY a
        JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
        JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN T_BD_CUSTOMER e ON e.FCUSTID = b.FCUSTOMERID
        WHERE
        d.FNAME = '标准销售出库单'
        and b.FDATE &lt;#{dateEnd}
        and e.FPRIMARYGROUP = #{primaryGroup}
        UNION ALL
        SELECT
        b.FCONTACTUNIT AS customerId,
        - a.FRECAMOUNT_E AS beginShouldGet
        FROM
        T_AR_RECEIVEBILLENTRY a
        JOIN T_AR_RECEIVEBILL b ON a.FID = b.FID
        JOIN T_BD_CUSTOMER e ON e.FCUSTID = b.FCONTACTUNIT
        WHERE
        b.FDATE &lt;#{dateEnd}
        and e.FPRIMARYGROUP = #{primaryGroup}
        UNION ALL
        SELECT
        b.FCONTACTUNIT AS customerId,
        a.FREALREFUNDAMOUNTFOR AS beginShouldGet
        FROM
        T_AR_REFUNDBILLENTRY a
        JOIN T_AR_REFUNDBILL b ON b.FID = a.FID
        JOIN T_BD_CUSTOMER e ON e.FCUSTID = b.FCONTACTUNIT
        WHERE
        b.FDATE &lt;#{dateEnd}
        and e.FPRIMARYGROUP = #{primaryGroup}
        ) h
        GROUP BY
        h.customerId
    </select>

    <select id="findByEndDateAndIn" resultType="CustomerReceiveDto">
        SELECT
        h.customerId,
        SUM (h.beginShouldGet) AS beginShouldGet
        FROM
        (
        SELECT
        b.FCONTACTUNIT AS customerId,
        a.FAMOUNT AS beginShouldGet
        FROM
        T_AR_OTHERRECABLEENTRY a
        JOIN T_AR_OTHERRECABLE b ON a.FID = b.FID
        WHERE
        b.FDATE &lt;#{dateEnd}
        and b.FCONTACTUNIT in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        b.FRETCUSTID AS customerId,
        - c.FAMOUNT AS beginShouldGet
        FROM
        T_SAL_RETURNSTOCKENTRY a
        JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
        JOIN T_SAL_RETURNSTOCKENTRY_F c ON b.FID = c.FID  AND a.FENTRYID = c.FENTRYID
        LEFT JOIN T_BAS_BILLTYPE_L d ON d.FBILLTYPEID = b.FBILLTYPEID
        WHERE
        d.FNAME = '标准销售退货单'
        and b.FDATE &lt;#{dateEnd}
        and b.FRETCUSTID in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        b.FCUSTOMERID AS customerId,
        c.FALLAMOUNT AS beginShouldGet
        FROM
        T_SAL_OUTSTOCKENTRY a
        JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
        JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        WHERE
        d.FNAME = '标准销售出库单'
        and b.FDATE &lt;#{dateEnd}
        and b.FCUSTOMERID in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        b.FCONTACTUNIT AS customerId,
        - a.FRECAMOUNT_E AS beginShouldGet
        FROM
        T_AR_RECEIVEBILLENTRY a
        JOIN T_AR_RECEIVEBILL b ON a.FID = b.FID
        WHERE
        b.FDATE &lt;#{dateEnd}
        and b.FCONTACTUNIT in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION ALL
        SELECT
        b.FCONTACTUNIT AS customerId,
        a.FREALREFUNDAMOUNTFOR AS beginShouldGet
        FROM
        T_AR_REFUNDBILLENTRY a
        JOIN T_AR_REFUNDBILL b ON b.FID = a.FID
        WHERE
        b.FDATE &lt;#{dateEnd}
        and b.FCONTACTUNIT in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) h
        GROUP BY
        h.customerId
    </select>

    <select id="findByPeriodForBillSum" resultType="CustomerReceiveDetailDto">
        select t.customerId as customerReceiveDto.customerId, t.customerName,t.billType,t.billNo,t.billDate,t.endShouldGet,t.billStatus
        from (
            SELECT
            b.FCONTACTUNIT AS customerId,
            e.FNAME AS customerName,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            a.FAMOUNT AS endShouldGet,
            b.FDocumentStatus AS billStatus
            FROM
            T_AR_OTHERRECABLEENTRY a
            JOIN T_AR_OTHERRECABLE b ON a.FID = b.FID
            LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L e ON b.FCONTACTUNIT = e.FCUSTID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FCONTACTUNIT = #{customerId}
        union all
            SELECT
            b.FCONTACTUNIT AS customerId,
            e.FNAME AS customerName,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            a.FRECAMOUNT_E AS endShouldGet,
            b.FDocumentStatus AS billStatus
            FROM
            T_AR_RECEIVEBILLENTRY a
            JOIN T_AR_RECEIVEBILL b ON a.FID = b.FID
            LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L e ON b.FCONTACTUNIT = e.FCUSTID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FCONTACTUNIT = #{customerId}
        union all
            SELECT
            b.FCONTACTUNIT AS customerId,
            e.FNAME AS customerName,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            a.FREALREFUNDAMOUNT AS endShouldGet,
            b.FDocumentStatus AS billStatus
            FROM
            T_AR_REFUNDBILLENTRY a
            JOIN T_AR_REFUNDBILL b ON b.FID = a.FID
            LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L e ON b.FCONTACTUNIT = e.FCUSTID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FCONTACTUNIT = #{customerId}
        union all
            SELECT
            b.FRETCUSTID AS customerId,
            e.FNAME as customerName,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            sum(c.FAMOUNT) AS endShouldGet,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY a
            JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F c ON b.FID = c.FID and a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON d.FBILLTYPEID = b.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L e ON b.FRETCUSTID = e.FCUSTID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FRETCUSTID = #{customerId} and
            d.FNAME= '标准销售退货单'
            group by
            b.FRETCUSTID,
            e.FNAME,
            d.FNAME,
            b.FBillNo,
            b.FDATE,
            b.FDOCUMENTSTATUS
        union all
        SELECT
            b.FCUSTOMERID AS customerId,
            e.FNAME AS customerName,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            sum(c.FALLAMOUNT) AS endShouldGet,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY a
            JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
            JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID
            AND a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L e ON b.FCUSTOMERID = e.FCUSTID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FCUSTOMERID = #{customerId} and
            d.FNAME= '标准销售出库单'
            group by
            b.FCUSTOMERID,
            e.FNAME,
            d.FNAME,
            b.FBillNo,
            b.FDATE,
            b.FDOCUMENTSTATUS
        union all
            SELECT
            b.FRETCUSTID AS customerId,
            e.FNAME as customerName,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            sum(c.FAMOUNT) AS endShouldGet,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY a
            JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F c ON b.FID = c.FID and a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON d.FBILLTYPEID = b.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L e ON b.FRETCUSTID = e.FCUSTID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FRETCUSTID = #{customerId} and
            d.FNAME='现销退货单'
            group by
            b.FRETCUSTID,
            e.FNAME,
            d.FNAME,
            b.FBillNo,
            b.FDATE,
            b.FDOCUMENTSTATUS
        union all
        SELECT
            b.FCUSTOMERID AS customerId,
            e.FNAME AS customerName,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            sum(c.FALLAMOUNT) AS endShouldGet,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY a
            JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
            JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID
            AND a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            LEFT JOIN T_BD_CUSTOMER_L e ON b.FCUSTOMERID = e.FCUSTID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FCUSTOMERID = #{customerId} and
            d.FNAME='现销出库单'
            group by
            b.FCUSTOMERID,
            e.FNAME,
            d.FNAME,
            b.FBillNo,
            b.FDATE,
            b.FDOCUMENTSTATUS
        ) t
        order by t.customerId, t.billDate, t.billNo
    </select>

    <select id="findByPeriodForMaterial" resultType="CustomerReceiveDetailDto">
            SELECT
            b.FRETCUSTID AS customerId,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            a.FMATERIALID as materialId,
            f.fname as materialName,
            a.FBASEUNITQTY AS qty,
            c.FPRICE AS price,
            c.FAMOUNT AS endShouldGet,
            a.FNOTE AS note,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY a
            JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F c ON b.FID = c.FID and a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON d.FBILLTYPEID = b.FBILLTYPEID
            left JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FRETCUSTID = #{customerId} and
            d.FNAME= '标准销售退货单'
        union all
            SELECT
            b.FCUSTOMERID AS customerId,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            a.FMATERIALID AS materialId,
            f.FNAME AS materialName,
            a.FREALQTY AS qty,
            c.FTAXPRICE AS price,
            c.FALLAMOUNT AS endShouldGet,
            a.FNOTE AS remarks,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY a
            JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
            JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID
            AND a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            LEFT JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FCUSTOMERID = #{customerId} and
            d.FNAME= '标准销售出库单'
        union all
            SELECT
            b.FRETCUSTID AS customerId,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            a.FMATERIALID as materialId,
            f.fname as materialName,
            a.FBASEUNITQTY AS qty,
            c.FPRICE AS price,
            c.FAMOUNT AS endShouldGet,
            a.FNOTE AS note,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_RETURNSTOCKENTRY a
            JOIN T_SAL_RETURNSTOCK b ON a.FID = b.FID
            JOIN T_SAL_RETURNSTOCKENTRY_F c ON b.FID = c.FID and a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON d.FBILLTYPEID = b.FBILLTYPEID
            left JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FRETCUSTID = #{customerId} and
            d.FNAME='现销退货单'
        union all
            SELECT
            b.FCUSTOMERID AS customerId,
            d.FNAME AS billType,
            b.FBillNo AS billNo,
            b.FDATE AS billDate,
            a.FMATERIALID AS materialId,
            f.FNAME AS materialName,
            a.FREALQTY AS qty,
            c.FTAXPRICE AS price,
            c.FALLAMOUNT AS endShouldGet,
            a.FNOTE AS remarks,
            b.FDOCUMENTSTATUS AS billStatus
            FROM
            T_SAL_OUTSTOCKENTRY a
            JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
            JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID
            AND a.FENTRYID = c.FENTRYID
            LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            LEFT JOIN T_BD_MATERIAL_L f ON a.FMATERIALID = f.FMATERIALID
            WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FCUSTOMERID = #{customerId} and
            d.FNAME='现销出库单'
    </select>

</mapper>
