<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.report.mapper.PayableReportMapper">

    <select id="findFKDByPeriodForEntry" resultType="PayableForDetailDto">
        SELECT
            b.FCONTACTUNIT AS supplierId,
            b.fpurchasedeptid AS departmentId,
            b.FDATE AS date,
            d.FNAME AS billType,
            b.FBILLNO AS billNo,
            a.FPAYTOTALAMOUNT AS amount,
            a.FCOMMENT as note,
            b.FDOCUMENTSTATUS as documentStatus
        FROM
            T_AP_PAYBILLENTRY a
        JOIN T_AP_PAYBILL b ON a.FID = b.FID
        LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        WHERE
            b.FDATE &gt;=#{dateStart}
        AND b.FDATE  &lt;=#{dateEnd}
        and b.FCONTACTUNIT = #{supplierId}
        and b.fpurchasedeptid = #{departmentId}
    </select>
    <select id="findFKTKDByPeriodForEntry" resultType="PayableForDetailDto">
        SELECT
            b.FCONTACTUNIT AS supplierId,
            b.fpurchasedeptid AS departmentId,
            b.FDATE as date,
            d.FNAME AS billType,
            b.FBILLNO as billNo,
            a.FREFUNDAMOUNT AS amount,
            a.FNOTE as note,
            b.FDOCUMENTSTATUS as documentStatus
        FROM
            T_AP_REFUNDBILLENTRY a
        JOIN T_AP_REFUNDBILL b ON a.FID = b.FID
        LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        WHERE
            b.FDATE &gt;=#{dateStart}
        AND b.FDATE  &lt;=#{dateEnd}
        and b.FCONTACTUNIT = #{supplierId}
        and b.fpurchasedeptid = #{departmentId}
    </select>
    <select id="findQTYFDByPeriodForEntry" resultType="PayableForDetailDto">
        SELECT
            b.FCONTACTUNIT AS supplierId,
            a.fcostDepartmentId AS departmentId,
            b.FDATE as date,
            d.FNAME AS billType,
            b.FBILLNO as billNo,
            c.FNAME as materialId,
            c.FNUMBER as quantity,
            a.FTOTALAMOUNT AS amount,
            a.FCOMMENT as note,
            b.FDOCUMENTSTATUS as documentStatus
        FROM
            T_AP_OTHERPAYABLEENTRY a
        JOIN T_AP_OTHERPAYABLE b ON a.FID = b.FID
        LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        LEFT JOIN (
            SELECT
                a.FENTRYID,
                a.FNUMBER,
                b.FDATAVALUE AS FNAME
            FROM
                T_BAS_ASSISTANTDATAENTRY a
            JOIN T_BAS_ASSISTANTDATAENTRY_L b ON a.FENTRYID = b.FENTRYID
            JOIN t_bas_assistantdata c ON a.FID = c.FID
            JOIN T_BAS_ASSISTANTDATA_L d ON c.FID = d.FID
            WHERE
                d.FNAME = '费用类'
        ) c ON a.F_PAEC_ASSISTANT1 = c.FENTRYID
        WHERE
            b.FDATE &gt;=#{dateStart}
            AND b.FDATE  &lt;=#{dateEnd}
            and b.FCONTACTUNIT = #{supplierId}
            and a.fcostDepartmentId = #{departmentId}
    </select>
    <select id="findCGTLDByPeriodForEntryF" resultType="PayableForDetailDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fmrDeptId AS departmentId,
            b.FDATE AS DATE,
            d.FNAME AS billType,
            b.FBILLNO AS billNo,
            a.FMATERIALID AS materialId,
            a.FBASEUNITQTY AS quantity,
            c.FALLAMOUNT AS amount,
            a.FNOTE AS note,
            b.FDOCUMENTSTATUS as documentStatus
        FROM
            T_PUR_MRBENTRY a
        JOIN T_PUR_MRB b ON a.FID = b.FID
        JOIN T_PUR_MRBENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN t_bd_supplier e ON b.FSUPPLIERID = e.FSUPPLIERID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
                b.FDATE &gt;=#{dateStart}
            AND b.FDATE &lt;=#{dateEnd}
            and b.FSUPPLIERID = #{supplierId}
            and b.fmrDeptId = #{departmentId}
            AND f.FERPCLSID = '1'
    </select>
    <select id="findCGRKDByPeriodForEntryF" resultType="PayableForDetailDto">
          SELECT
                b.FSUPPLIERID AS supplierId,
                b.fpurchaseDeptId AS departmentId,
                b.FDATE  as date,
                d.FNAME AS billType,
                b.FBILLNO  as billNo,
                a.FMATERIALID as materialId,
                a.FBASEUNITQTY AS quantity,
                c.FALLAMOUNT  AS amount,
                a.FNOTE as note,
                b.FDOCUMENTSTATUS as documentStatus
            FROM
                T_STK_INSTOCKENTRY a
            JOIN T_STK_INSTOCK b ON a.FID = b.FID
            JOIN T_STK_INSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
            JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
            JOIN t_bd_supplier e ON b.FSUPPLIERID = e.FSUPPLIERID
            JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
            WHERE
              b.FDATE &gt;=#{dateStart} AND
              b.FDATE  &lt;=#{dateEnd} and
              b.FSUPPLIERID = #{supplierId} and
              b.fpurchaseDeptId = #{departmentId} AND
              f.FERPCLSID = '1'
    </select>
    <select id="findYFDByPeriodForEntry" resultType="PayableForDetailDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fpurchaseDeptId AS departmentId,
            b.FDATE as date,
            d.FNAME AS billType,
            b.FBILLNO  as billNo,
            a.FMATERIALID as materialId,
            a.FALLAMOUNT  AS amount,
            a.FCOMMENT  as note,
            b.FDOCUMENTSTATUS as documentStatus
        FROM
          T_AP_PAYABLEENTRY a
        JOIN T_AP_PAYABLE b ON a.FID = b.FID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FSUPPLIERID = #{supplierId}
            and b.fpurchaseDeptId = #{departmentId}
            AND f.FERPCLSID = '6'
    </select>
    <select id="findCGTLDByPeriodForEntryFSum" resultType="PayableForDetailDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fmrDeptId AS departmentId,
            b.FDATE AS DATE,
            d.FNAME AS billType,
            b.FBILLNO AS billNo,
            sum(c.FALLAMOUNT) AS amount,
            b.FDOCUMENTSTATUS as documentStatus
        FROM
          T_PUR_MRBENTRY a
        JOIN T_PUR_MRB b ON a.FID = b.FID
        JOIN T_PUR_MRBENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN t_bd_supplier e ON b.FSUPPLIERID = e.FSUPPLIERID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE &lt;=#{dateEnd} and
            b.FSUPPLIERID = #{supplierId} and
            b.fmrDeptId = #{departmentId} AND
            f.FERPCLSID = '1'
        GROUP BY
            b.FSUPPLIERID,
            b.fmrDeptId,
            b.FDATE,
            d.FNAME,
            b.FBILLNO,
            b.FDOCUMENTSTATUS
    </select>
    <select id="findCGRKDByPeriodForEntryFSum" resultType="PayableForDetailDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fpurchaseDeptId AS departmentId,
            b.FDATE  as date,
            d.FNAME AS billType,
            b.FBILLNO  as billNo,
            sum( c.FALLAMOUNT)  AS amount,
             b.FDOCUMENTSTATUS as documentStatus
        FROM
          T_STK_INSTOCKENTRY a
        JOIN T_STK_INSTOCK b ON a.FID = b.FID
        JOIN T_STK_INSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN t_bd_supplier e ON b.FSUPPLIERID = e.FSUPPLIERID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
            b.FDATE &gt;=#{dateStart}
            AND b.FDATE  &lt;=#{dateEnd}
            and b.FSUPPLIERID = #{supplierId}
            and b.fpurchaseDeptId = #{departmentId}
            AND f.FERPCLSID = '1'
        GROUP BY
            b.FSUPPLIERID,
            b.fpurchaseDeptId,
            b.FDATE,
            d.FNAME,
            b.FBILLNO,
            b.FDOCUMENTSTATUS
    </select>
    <select id="findYFDByPeriodForEntrySum" resultType="PayableForDetailDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fpurchaseDeptId AS departmentId,
            b.FDATE as date,
            d.FNAME AS billType,
            b.FBILLNO  as billNo,
            sum(a.FALLAMOUNT) AS amount,
            b.FDOCUMENTSTATUS as documentStatus
        FROM
          T_AP_PAYABLEENTRY a
        JOIN T_AP_PAYABLE b ON a.FID = b.FID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            b.FSUPPLIERID = #{supplierId}
            and b.fpurchaseDeptId = #{departmentId}
           AND f.FERPCLSID = '6'
        GROUP BY
            b.FSUPPLIERID,
            b.fpurchaseDeptId,
            b.FDATE,
            d.FNAME,
            b.FBILLNO,
            b.FDOCUMENTSTATUS
    </select>

    <select id="findByEndDate" resultType="PayableForSummaryDto">
       SELECT
	       a.supplyid AS supplierId,
	       a.departmentId AS departmentId,
	      SUM (a.fsamount) AS beginAmount
    FROM
	(
		SELECT
			b.FSUPPLIERID AS supplierId,
			b.fpurchaseDeptId AS departmentId,
			c.FALLAMOUNT AS fsamount
		FROM
			T_STK_INSTOCKENTRY a
		JOIN T_STK_INSTOCK b ON a.FID = b.FID
		JOIN T_STK_INSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
		JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
		WHERE
			b.FDATE &lt; #{date}
		AND f.FERPCLSID = '1'
		UNION ALL
			SELECT
				b.FSUPPLIERID AS supplierId,
				b.fmrDeptId AS departmentId,
				- c.FALLAMOUNT AS fsamount
			FROM
				T_PUR_MRBENTRY a
			JOIN T_PUR_MRB b ON a.FID = b.FID
			JOIN T_PUR_MRBENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
			JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
			WHERE
				b.FDATE &lt; #{date}
			AND f.FERPCLSID = '1'
		UNION ALL
			SELECT
					b.FSUPPLIERID AS supplierId,
					b.fpurchaseDeptId AS departmentId,
					a.FALLAMOUNT AS FAMOUNT
				FROM
					T_AP_PAYABLEENTRY a
				JOIN T_AP_PAYABLE b ON a.FID = b.FID
				JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
				WHERE
					b.FDATE &lt; #{date}
				   AND f.FERPCLSID = '6'
		UNION ALL
				SELECT
					  b.FCONTACTUNIT AS supplierId,
				  	a.fcostDepartmentId AS departmentId,
			  		a.FTOTALAMOUNT
		  		FROM
	  				T_AP_OTHERPAYABLEENTRY a
  				JOIN T_AP_OTHERPAYABLE b ON a.FID = b.FID
  				WHERE
  					b.FDATE &lt; #{date}
		UNION ALL
				SELECT
					b.FCONTACTUNIT AS supplierId,
					b.fpurchasedeptid AS departmentId,
					- a.FPAYTOTALAMOUNT AS FAMOUNT
				FROM
					T_AP_PAYBILLENTRY a
					JOIN T_AP_PAYBILL b ON a.FID = b.FID
				WHERE
					b.FDATE &lt; #{date}
		UNION ALL
				SELECT
					b.FCONTACTUNIT AS supplierId,
					b.fpurchasedeptid AS departmentId,
					a.FREFUNDAMOUNT AS FAMOUNT
				FROM
					T_AP_REFUNDBILLENTRY a
				JOIN T_AP_REFUNDBILL b ON a.FID = b.FID
				WHERE
					b.FDATE &lt; #{date}
	    ) a
      GROUP BY
	  a.supplierId,
	  a.departmentId
    </select>
    <select id="findByEndDateAndIn" resultType="PayableForSummaryDto">
        SELECT
            a.supplyid AS supplierId,
            a.departmentId AS departmentId,
            SUM (a.fsamount) AS beginAmount
        FROM
        (
            SELECT
                b.FSUPPLIERID AS supplierId,
                b.fpurchaseDeptId AS departmentId,
                c.FALLAMOUNT AS fsamount
            FROM
                T_STK_INSTOCKENTRY a
            JOIN T_STK_INSTOCK b ON a.FID = b.FID
            JOIN T_STK_INSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
            JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
            WHERE
                b.FDATE &lt; #{date}
                AND f.FERPCLSID = '1'
                and b.FSUPPLIERID in
                <foreach collection="supplierIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and b.fpurchaseDeptId in
                <foreach collection="departmentIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            UNION ALL
            SELECT
                b.FSUPPLIERID AS supplierId,
                b.fmrDeptId AS departmentId,
                - c.FALLAMOUNT AS fsamount
            FROM
                T_PUR_MRBENTRY a
            JOIN T_PUR_MRB b ON a.FID = b.FID
            JOIN T_PUR_MRBENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
            JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
            WHERE
                b.FDATE &lt; #{date}
                AND f.FERPCLSID = '1'
                and b.FSUPPLIERID in
                <foreach collection="supplierIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and b.fmrDeptId in
                <foreach collection="departmentIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            UNION ALL
            SELECT
                b.FSUPPLIERID AS supplierId,
                b.fpurchaseDeptId AS departmentId,
                a.FALLAMOUNT AS FAMOUNT
            FROM
                T_AP_PAYABLEENTRY a
                JOIN T_AP_PAYABLE b ON a.FID = b.FID
                JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
            WHERE
                b.FDATE &lt; #{date}
                AND f.FERPCLSID = '6'
                and b.FSUPPLIERID in
                <foreach collection="supplierIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and b.fpurchaseDeptId in
                <foreach collection="departmentIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            UNION ALL
            SELECT
                b.FCONTACTUNIT AS supplierId,
                a.fcostDepartmentId AS departmentId,
                a.FTOTALAMOUNT
            FROM
                T_AP_OTHERPAYABLEENTRY a
            JOIN T_AP_OTHERPAYABLE b ON a.FID = b.FID
            WHERE
                b.FDATE &lt; #{date}
                and b.FCONTACTUNIT in
                <foreach collection="supplierIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and b.fcostDepartmentId in
                <foreach collection="departmentIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            UNION ALL
            SELECT
                b.FCONTACTUNIT AS supplierId,
                b.fpurchasedeptid AS departmentId,
                - a.FPAYTOTALAMOUNT AS FAMOUNT
            FROM
                T_AP_PAYBILLENTRY a
            JOIN T_AP_PAYBILL b ON a.FID = b.FID
            WHERE
                b.FDATE &lt; #{date}
                and b.FCONTACTUNIT in
                <foreach collection="supplierIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and b.fpurchasedeptid in
                <foreach collection="departmentIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            UNION ALL
            SELECT
                b.FCONTACTUNIT AS supplierId,
                b.fpurchasedeptid AS departmentId,
                a.FREFUNDAMOUNT AS FAMOUNT
            FROM
                T_AP_REFUNDBILLENTRY a
            JOIN T_AP_REFUNDBILL b ON a.FID = b.FID
            WHERE
                b.FDATE &lt; #{date}
                and a.FCONTACTUNIT in
                <foreach collection="supplierIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and a.fpurchasedeptid in
                <foreach collection="departmentIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            ) a
        GROUP BY
        a.supplierId,
        a.departmentId
    </select>

    <select id="findFKDByPeriodForSum" resultType="PayableForSummaryDto">
        SELECT
            b.FCONTACTUNIT AS supplierId,
            b.fpurchasedeptid AS departmentId,
            sum(a.FPAYTOTALAMOUNT) AS beginAmount
        FROM
            T_AP_PAYBILLENTRY a
        JOIN T_AP_PAYBILL b ON a.FID = b.FID
        WHERE
            b.FDATE &gt;=#{dateStart}
            AND b.FDATE  &lt;=#{dateEnd}
        GROUP BY
            b.FCONTACTUNIT,
            b.fpurchasedeptid
    </select>
    <select id="findFKTKDByPeriodForSum" resultType="PayableForSummaryDto">
        SELECT
            b.FCONTACTUNIT AS supplierId,
            b.fpurchasedeptid AS departmentId,
            sum(a.FREFUNDAMOUNT) AS beginAmount
        FROM
          T_AP_REFUNDBILLENTRY a
        JOIN T_AP_REFUNDBILL b ON a.FID = b.FID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd}
        GROUP BY
            b.FCONTACTUNIT,
            b.fpurchasedeptid
    </select>
    <select id="findQTYFDByPeriodForSum" resultType="PayableForSummaryDto">
        SELECT
            b.FCONTACTUNIT AS supplierId,
            a.fcostDepartmentId AS departmentId,
            sum(a.FTOTALAMOUNT) AS beginAmount
        FROM
          T_AP_OTHERPAYABLEENTRY a
        JOIN T_AP_OTHERPAYABLE b ON a.FID = b.FID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE &lt;=#{dateEnd}
        GROUP BY
            b.FCONTACTUNIT,
            a.fcostDepartmentId
    </select>
    <select id="findCGTLDByPeriodForSum" resultType="PayableForSummaryDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fmrDeptId AS departmentId,
            sum(c.FALLAMOUNT) AS beginAmount
        FROM
          T_PUR_MRBENTRY a
        JOIN T_PUR_MRB b ON a.FID = b.FID
        JOIN T_PUR_MRBENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE &lt;=#{dateEnd} and
            f.FERPCLSID = '1'
        GROUP BY
            b.FSUPPLIERID,
            b.fmrDeptId
    </select>
    <select id="findCGRKDByPeriodForSum" resultType="PayableForSummaryDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fpurchaseDeptId AS departmentId,
            sum( c.FALLAMOUNT)  AS beginAmount
        FROM
          T_STK_INSTOCKENTRY a
        JOIN T_STK_INSTOCK b ON a.FID = b.FID
        JOIN T_STK_INSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            f.FERPCLSID = '1'
        GROUP BY
            b.FSUPPLIERID,
            b.fpurchaseDeptId
    </select>
    <select id="findYFDByPeriodForSum" resultType="PayableForSummaryDto">
        SELECT
            b.FSUPPLIERID AS supplierId,
            b.fpurchaseDeptId AS departmentId,
            sum(a.FALLAMOUNT) AS beginAmount
        FROM
          T_AP_PAYABLEENTRY a
        JOIN T_AP_PAYABLE b ON a.FID = b.FID
        JOIN T_BD_MATERIALBASE f ON a.FMATERIALID = f.FMATERIALID
        WHERE
            b.FDATE &gt;=#{dateStart} AND
            b.FDATE  &lt;=#{dateEnd} and
            f.FERPCLSID = '6'
        GROUP BY
            b.FSUPPLIERID,
            b.fpurchaseDeptId
    </select>
</mapper>