<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.sys.mapper.AccountKingdeeBookMapper">

    <select id="findByAccountId" resultType="AccountKingdeeBook">
        select t1.*
        from sys_account_kingdee_book t1
        where t1.enabled = 1
        and t1.account_id = #{accountId}
    </select>

    <select id="findPage" resultType="AccountKingdeeBookDto">
        select
            t1.*,
            t2.name as kingdeeBookName,
            t2.type as kingdeeBookType
        from
            sys_account_kingdee_book t1,
            sys_kingdee_book t2
        where
            t1.enabled = 1
            and t1.kingdee_book_id = t1.id
    </select>
</mapper>
