<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.sys.mapper.KingdeeBookMapper">
    <select id="findPage" resultType="KingdeeBook">
        select t1.*
        from sys_kingdee_book t1
        where t1.enabled = 1
        <if test="p.companyId != null and p.companyId != '' ">
            and t1.companyId = #{p.companyId}
        </if>
        <if test="p.name != null and p.name != '' ">
            and t1.name = #{p.name}
        </if>
        <if test="p.type != null and p.type != '' ">
            and t1.type = #{p.type}
        </if>
    </select>

    <select id="findNameByCompanyId" resultType="String">
        SELECT t1.name
        from sys_kingdee_book t1
        where t1.company_id = #{companyId} and t1.enabled = 1
    </select>

    <select id="findKingdeePostUrls" resultType="String">
        select t1.kingdee_post_url
        from sys_kingdee_book t1
        where t1.enabled = 1
    </select>

    <select id="findNames" resultType="String">
        select t1.name
        from sys_kingdee_book t1
        where t1.enabled = 1
    </select>

    <select id="findTypes" resultType="String">
        select distinct t1.type
        from sys_kingdee_book t1
        where t1.enabled = 1
    </select>

</mapper>
