<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.sys.mapper.VoucherMapper">
    <select id="findPage" resultType="Voucher">
        SELECT
        t1.*
        FROM
        sys_gl_voucher t1
        WHERE
        t1.enabled=1
        and t1.company_id = #{p.companyId}
        <if test="p.id != null">
            AND t1.category = #{p.id}
        </if>
        <if test="p.createdName != null">
            AND t1.created_name LIKE CONCAT('%',#{p.createdName},'%')
        </if>
        <if test="p.status != null">
            AND t1.status = #{p.status}
        </if>
    </select>
</mapper>
