<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.basic.mapper.DemoPhoneTypeMapper">

    <select id="findAllByApplyEndDate" resultType="DemoPhoneType">
        SELECT t1.*
        FROM crm_demo_phone_type t1
        where t1.enabled=1
        and t1.apply_end_date>#{applyEndDate}
    </select>

    <select id="findPage" resultType="DemoPhoneTypeDto">
        SELECT
        t1.*, GROUP_CONCAT(distinct t2.NAME) AS productTypeNames
        FROM
        crm_demo_phone_type t1
        LEFT JOIN crm_product_type t2 ON t1.id = t2.demo_phone_type_id
        WHERE
        t1.enabled = 1
        <if test="p.name !=null">
            AND t1.name LIKE concat('%',#{p.name},'%')
        </if>
        GROUP BY t1.id
    </select>

</mapper>
