<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.basic.mapper.DepotMapper">
    <select id="findPage" resultType="DepotDto">
        select depot.*
        from crm_depot depot
        where
        depot.enabled=1
        <include refid="depotFilter"/>
        <include refid="depotParamFilter" />
    </select>

    <select id="findByAccountId" resultType="Depot">
        select
            t1.*
        from
            crm_depot t1,
            crm_account_depot t2
        where
            t1.enabled =1
            and t1.is_hidden=0
            and t1.id=t2.depot_id
            and t2.account_id=#{accountId}
    </select>

    <sql id="depotParamFilter">
        <if test="p.types !=null and p.types.size() !=0">
            and depot.type IN
            <foreach collection="p.types" index="index" item="item" open="(" separator="," close=")">
                #{p.types[${index}]}
            </foreach>
        </if>
        <if test="p.depotName != null">
            and (depot.name like CONCAT('%',#{p.depotName},'%') or depot.name_pinyin like CONCAT('%',#{p.depotName},'%'))
        </if>
        <if test="p.type != null">
            and depot.type=#{p.type}
        </if>
        <if test="p.areaType != null">
            and depot.area_type=#{p.areaType}
        </if>
        <if test="p.officeId !=null">
            and depot.office_id=#{p.officeId}
        </if>
        <if test="p.name !=null">
            and depot.name like concat('%',#{p.name},'%')
        </if>
        <if test="p.areaType !=null">
            and depot.area_type=#{p.areaType}
        </if>
        <if test="p.pricesystemId !=null">
            and depot.pricesystem_id=#{p.pricesystemId}
        </if>
        <if test="p.contator !=null">
            and depot.contator like CONCAT('%',#{p.contator},'%')
        </if>
        <if test="p.mobilePhone !=null">
            and depot.mobile_phone like CONCAT('%',#{p.mobilePhone},'%')
        </if>
        <if test="p.chainId !=null">
            and depot.chain_id=#{p.chainId}
        </if>
        <if test="p.adPricesystemId !=null">
            and depot.ad_pricesystem_id=#{p.adPricesystemId}
        </if>
        <if test="p.expressCompanyId !=null">
            and depot.express_company_id=#{p.expressCompanyId}
        </if>
        <if test="p.districtName !=null">
            and depot.district_id in(
            select t2.id
            from  sys_district t2
            where t2.name like concat('%',#{p.districtName},'%')
            )
        </if>
        <if test="p.specialityStore !=null">
            and depot.speciality_store=#{p.specialityStore}
        </if>
        <if test="p.specialityStoreType !=null">
            and depot.speciality_store_type=#{p.specialityStoreType}
        </if>
        <if test="p.adShopBsc !=null">
            and depot.ad_shop_bsc=#{p.adShopBsc}
        </if>
        <if test="p.adShop !=null">
            and depot.ad_shop=#{p.adShop}
        </if>
        <if test="p.allowAdApply != null">
            and depot.allow_ad_apply = #{p.allowAdApply}
        </if>
        <if test="p.name != null">
            and (depot.name like CONCAT('%',#{p.name},'%') or depot.name_pinyin like CONCAT('%',#{p.name},'%'))
        </if>
    </sql>


    <select id="findByNameList" resultType="Depot">
        SELECT t1.*
        FROM crm_depot t1
        WHERE t1.enabled = 1
        and t1.name in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByName" resultType="Depot">
        select
        t1.*
        from
        crm_depot t1
        where
        t1.name=#{name}
    </select>


    <select id="findShopList" resultType="DepotDto">
        SELECT  t1.*
        FROM crm_depot t1,crm_depot_shop t2
        where t1.depot_shop_id=t2.id
        and t1.enabled=1
        and t2.enabled=1

        <if test="p.clientIsNull != null">
            <if test="p.clientIsNull">
                and t1.client_id is NULL
            </if>
            <if test="!p.clientIsNull">
                and t1.client_id is not NULL
            </if>
        </if>
        <if test="p.adShop != null">
            <if test="p.adShop">
                and t1.ad_shop is NULL
            </if>
            <if test="!p.adShop">
                and t1.ad_shop is not NULL
            </if>
        </if>
        <if test="p.popShop != null">
            <if test="p.popShop">
                and t1.pop_shop is NULL
            </if>
            <if test="!p.popShop">
                and t1.pop_shop is not NULL
            </if>
        </if>
        and t1.name like concat('%',#{p.name},'%')
        <include refid="depotFilter" />
        limit 0,25
    </select>

    <select id="findStoreList" resultType="DepotDto">
        SELECT  t1.*
        FROM crm_depot t1,crm_depot_store t2
        where t1.depot_store_id=t2.id
        and t1.enabled=1
        and t2.enabled=1

        <if test="p.outIdIsNull != null">
            <if test="p.outIdIsNull">
                and t2.out_id is NULL
            </if>
            <if test="!p.outIdIsNull">
                and t1.out_id is not NULL
            </if>
        </if>
        <if test="p.name != null">
            and t1.name like concat('%',#{p.name},'%')
        </if>

        <include refid="depotFilter" />
    </select>


    <sql id="depotFilter">
        <if test="p.officeIdList !=null and p.officeIdList.size() !=0">
            and depot.office_id IN
            <foreach collection="p.officeIdList" index="index" item="item" open="(" separator="," close=")">
                #{p.officeIdList[${index}]}
            </foreach>
        </if>
        <if test="p.depotIdList !=null and p.depotIdList.size() !=0">
            and depot.id IN
            <foreach collection="p.depotIdList" index="index" item="item" open="(" separator="," close=")">
                #{p.depotIdList[${index}]}
            </foreach>
        </if>
    </sql>
</mapper>
