<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.basic.mapper.DepotStoreMapper">


    <select id="findPage" resultType="DepotStoreDto">
        SELECT t2.*,depot.id as 'depotId',depot.office_id as 'officeId',depot.tax_name as 'taxName',
        depot.delegate_depot_id as 'delegateDepotId',depot.pop_shop as 'popShop'
        FROM crm_depot depot ,crm_depot_store t2
        where depot.enabled=1
        and t2.enabled=1
        and t2.depot_id=depot.id
    </select>

</mapper>
