<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.basic.mapper.DepotShopMapper">


    <select id="findPage" resultType="DepotShopDto">
        SELECT depot.id as 'depotId',t2.*
        FROM crm_depot depot ,crm_depot_shop t2
        where depot.enabled=1
        and t2.enabled=1
        and depot.depot_shop_id=t2.id
        <if test="p.name!=null">
            and depot.name like concat('%',#{p.name},'%')
        </if>
    </select>

</mapper>
