<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.basic.mapper.DepotShopMapper">
    <select id="findPage" resultType="DepotDto">
        select depot.*
        from crm_depot depot
        where
        depot.enabled=1
        <if test="name !=null">
            and depot.name like concat('%',#{name},'%')
        </if>
        <if test="category !=null">
            and depot.category = category
        </if>
    </select>


</mapper>
