<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.basic.mapper.ExpressCompanyMapper">

    <select id="findPage" resultType="ExpressCompanyDto">
        SELECT
        t1.*
        FROM
        crm_express_company t1
        WHERE
        t1.enabled=1
        <if test="p.name != null">
            AND t1.name LIKE CONCAT('%',#{p.name},'%')
        </if>

        <if test="p.expressType != null and p.expressType != ''">
            AND (t1.express_type = #{p.expressType} OR t1.express_type IS NULL)
        </if>
        <if test="p.reachPlace != null">
            AND( t1.reach_place LIKE CONCAT('%',#{p.reachPlace},'%') OR t1.reach_place IS NULL)
        </if>
        <if test="p.mobilePhone != null">
            AND ( t1.mobile_phone LIKE CONCAT('%',#{p.mobilePhone},'%')  OR t1.mobile_phone IS NULL)
        </if>
        <if test="p.contator != null">
            AND( t1.contator LIKE CONCAT('%',#{p.contator},'%')  OR t1.contator IS NULL)
        </if>

    </select>

    <select id="findByIds" resultType="ExpressCompany">
        SELECT t1.id,t1.name
        FROM crm_express_company t1
        WHERE t1.enabled = 1
        and t1.id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="findByCompanyIdAndExpressType" resultType="ExpressCompanyDto">
        SELECT t1.*
        FROM  crm_express_company t1
        where t1.enabled=1
        and t1.company_id=#{companyId}
        and t1.express_type = #{expressType}

    </select>



    <select id="findByExpressType" resultType="ExpressCompany">
        SELECT t1.*
        FROM  crm_express_company t1
        where t1.enabled=1
        and t1.express_type=#{expressType}
    </select>

    <select id="findByNameLike" resultType="ExpressCompanyDto">
        SELECT t1.*
        FROM  crm_express_company t1
        where t1.enabled=1
        and t1.company_id=#{companyId}
        <if test="name != null">
            AND t1.name LIKE concat('%',#{name},'%');
        </if>
    </select>



</mapper>
