<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.tool.modules.oppo.mapper.OppoPlantSendImeiPpselMapper">
    <select id="findImeis" resultType="String">
        select t.imei from oppo_plant_send_imei_ppsel t where t.imei in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="save">
        INSERT INTO oppo_plant_send_imei_ppsel
        (
        company_id,
        bill_id,
        imei,
        meid,
        created_time,
        dls_product_id,
        imei_state,
        remark,
        imei2
        )VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyId},
            #{item.billId},
            #{item.imei},
            #{item.meid},
            #{item.createdTime},
            #{item.dlsProductId},
            #{item.imeiState},
            #{item.remark},
            #{item.imei2}
            )
        </foreach>
    </insert>

    <select id="findSynList" resultType="OppoPlantSendImeiPpsel">
        select t.*  from oppo_plant_send_imei_ppsel t
        where t.created_time &gt;= #{dateStart}
        and t.created_time &lt;= #{dateEnd}
        and t.company_id in
        <foreach item="item" index="index" collection="agentCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
        and t.imei not in (select p.ime from crm_product_ime p )
    </select>
</mapper>