<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.tool.modules.oppo.mapper.OppoPlantProductItemelectronSelMapper">

    <select id="findProductNos" resultType="String">
        select t.product_no from oppo_plant_product_itemelectron_sel t
        where t.product_no in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateProductImeRetailDate">
        update crm_product_ime t1,oppo_plant_product_itemelectron_sel t2
        set t1.retail_date=t2.date_time
        where t1.ime=t2.product_no
        and t2.date_time &gt;=#{dateStart}
        and t2.date_time &lt;=#{dateEnd}
        and t1.company_id=1
    </update>

    <insert id="save">
        INSERT INTO oppo_plant_product_itemelectron_sel
        (
        created_time,
        customer_id,
        date_time,
        product_no,
        product_nob,
        remark,
        areap,
        areac,
        imeib,
        dls_product_id
        )VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.createdTime},
            #{item.customerId},
            #{item.dateTime},
            #{item.productNo},
            #{item.productNob},
            #{item.remark},
            #{item.areap},
            #{item.areac},
            #{item.imeib},
            #{item.dlsProductId}
            )
        </foreach>

    </insert>

    <update id="updateItemNumber">
        update crm_product_ime t1,oppo_plant_product_itemelectron_sel t2
        set t2.dls_product_id=t1.item_number
        where t1.ime=t2.product_no
        and t2.dls_product_id is null
    </update>
</mapper>