<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.hr.mapper.AccountPermissionMapper">

    <delete id="removeByPermissionList">
        DELETE  FROM hr_account_permission where permission_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findPermissionIdByAccount" resultType="String">
        SELECT t1.permission_id
        FROM hr_account_permission t1
        where t1.enabled=1
        and t1.account_id=#{account}
    </select>

</mapper>
