<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.hr.mapper.AccountWeixinMapper">

    <select id="findByAccountId" resultType="AccountWeixin">
        SELECT t1.*
        FROM hr_account_weixin t1
        where t1.enabled=1
        and t1.account_id=#{accountId}
    </select>

    <insert id="save">
        INSERT  INTO hr_account_weixin(account_id,company_id,open_id) VALUE (#{accountId},#{companyId},#{openId})
    </insert>

    <update id="update">
        UPDATE  hr_account_weixin SET acount_id=#{accountId},company_id=#{companyId},openId=#{openId}
    </update>

</mapper>
