<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.hr.mapper.AuditFileMapper">

    <select id="findPage" resultType="AuditFileDto">
        SELECT
        t1.*,t2.name as 'processTypeName',t3.office_id
        FROM hr_audit_file t1,hr_account t3,hr_office office,sys_process_type t2
        WHERE
        t1.created_by=t3.id
        and t3.office_id=office.id
        and t1.process_type_id=t2.id
        AND t1.enabled=1
        <include refid="net.myspring.basic.modules.hr.mapper.OfficeMapper.officeFilter" />
        <if test="p.createdDateStart !=null">
            and t1.created_date >=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            and t1.created_date &lt;=#{p.createdDateEnd}
        </if>
        <if test="p.positionId !=null || p.processflowName !=null">
            and t1.process_flow_id in(
            select id
            from sys_process_flow
            where 1=1
            <if test="p.positionId !=null">
                and  position_id=#{p.positionId}
            </if>
            <if test="p.processflowName !=null">
                and `name`=#{p.processflowName}
            </if>
            )
        </if>
        <if test="p.processTypeId !=null">
            and t1.process_type_id =#{p.processTypeId}
        </if>
        <if test="p.id !=null">
            and t1.id=#{p.id}
        </if>
        <if test="p.title !=null">
            and t1.title like concat('%',#{p.title},'%')
        </if>
        <if test="p.content !=null">
            and t1.content like concat('%',#{p.content},'%')
        </if>
        <if test="p.officeId !=null">
            and office.id=#{p.officeId}
        </if>
        <if test="p.officeName !=null">
            and office.name like concat('%',#{p.officeName},'%')
        </if>
        <if test="p.createdByName !=null">
            and t1.created_by in(
            select id
            from hr_account
            where login_name like concat('%',#{p.createdByName},'%')
            and enabled=1
            )
        </if>
    </select>
</mapper>
