<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.hr.mapper.DutyFreeMapper">

    <select id="findPage" resultType="DutyFreeDto">
        SELECT
        t1.*
        FROM
        hr_duty_free t1,
        hr_account account,
        sys_office office
        WHERE
        t1.created_by=account.id
        and account.office_id=office.id
        and t1.enabled=1
        <if test="p.createdBy !=null ">
            AND t1.created_by=#{p.createdBy}
        </if>
        <if test="p.freeDateStart != null">
            AND t1.free_date >= #{p.freeDateStart}
        </if>
        <if test="p.freeDateEnd != null">
            AND t1.free_date  &lt;= #{p.freeDateEnd}
        </if>
        <if test="p.dutyDateStart != null">
            AND t1.free_date >= #{p.dutyDateStart}
        </if>
        <if test="p.dutyDateEnd != null">
            AND t1.free_date  &lt;= #{p.dutyDateEnd}
        </if>
        <include refid="net.myspring.basic.modules.sys.mapper.OfficeMapper.officeFilter" />
    </select>

    <select id="findByDate" resultType="DutyFree">
        SELECT
        t1.*
        FROM
        hr_duty_free t1
        WHERE
         t1.enabled=1
        AND  t1.free_date=#{freeDate}
        and t1.employee_id=#{employeeId}
    </select>

    <select id="findByAuditable" resultType="net.myspring.basic.modules.hr.dto.DutyDto">
        SELECT
        '免打卡' as dutyType,
        t1.free_date AS dutyDate,
        t1.remarks,
        t2.login_name as 'account.loginName',
        t2.leader_id AS 'account.leaderId' ,
        'MDK' AS 'prefix',
        t1.id
        FROM
        hr_duty_free t1 ,
        hr_account t2 ,
        hr_employee t3
        WHERE
        t1.enabled=1
        AND t1.employee_id=t3.id
        and t3.account_id=t2.id
        AND t2.leader_id=#{leaderId}
        AND t1.status=#{status}
        AND t1.created_date>=#{dateStart}
    </select>

    <select id="findByDateAndStatusList" resultType="DutyFree">
        SELECT
        t1.*
        FROM
        hr_duty_free t1
        WHERE
        t1.enabled=1
        AND t1.free_date >= #{dateStart}
        and t1.free_date &lt;= #{dateEnd}
        and t1.status in
        <foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="findByAccountIdAndDutyDate" resultType="DutyFree">
        SELECT
        fr.employee_id,
        fr.free_date as 'duty_date',
        fr.date_type
        FROM
        hr_duty_free fr
        WHERE
        fr.free_date gt;= #{dateStart}
        AND fr.free_date lt;= #{dateEnd}
        <if test="accountIds!=null" >
            and fr.employee_id in
            <foreach item="item" index="index" collection="accountIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="findByEmployeeAndDate" resultType="DutyFree">
        SELECT
        t1.*
        FROM
        hr_duty_free t1
        WHERE
        t1.enabled=1
        and t1.employee_id=#{employeeId}
        and t1.free_date >= #{dateStart}
        and t1.free_date &lt;= #{dateEnd}
    </select>
</mapper>
