<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.hr.mapper.DutySignMapper">
    <select id="findPage" resultType="DutySign">
        SELECT
          t1.*
        FROM
        hr_duty_sign t1,
        hr_account account,
        hr_office office
        WHERE
        t1.created_by=account.id
        and account.office_id=office.id
        and t1.enabled=1
        <include refid="dutySignFilter"/>
        <include refid="net.myspring.basic.modules.hr.mapper.OfficeMapper.officeFilter" />
    </select>

    <select id="findByAuditable" resultType="net.myspring.future.modules.hr.model.DutyModel">
        SELECT
        '签到' as dutyType,t1.duty_date,t1.remarks,t2.login_name as 'account.loginName',t2.leader_id AS 'account.leaderId' ,CONCAT('QD0000000',t1.id) AS 'formatId',t1.id
        FROM
        hr_duty_sign t1 , hr_account t2 ,hr_employee t3
        WHERE
        t1.enabled=1 AND t1.employee_id=t3.id and t3.account_id=t2.id
        AND t2.leader_id=#{leaderId} AND t1.status=#{status} AND t1.created_date>=#{dateStart}
    </select>

    <select id="findByFilter" resultType="DutySign">
        SELECT
        t1.*
        FROM
        hr_duty_sign t1
        WHERE
        t1.enabled = 1
        <include refid="dutySignFilter"/>
    </select>

    <select id="findByAccountIdAndDutyDate" resultType="DutySign">
        SELECT
        ds.employee_id,
        ds.duty_date,
        ds.duty_time
        FROM
        hr_duty_sign ds
        WHERE
        ds.duty_date gt;= #{dateStart}
        AND ds.duty_date lt;= #{dateEnd}
        and ds.enabled=1
        <if test="accountIds!=null" >
            and ds.employee_id in
            <foreach item="item" index="index" collection="accountIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <sql id="dutySignFilter">
        <if test="p.createdBy != null">
            AND t1.created_by = #{p.createdBy}
        </if>
        <if test="p.dutyDateStart != null">
            AND t1.duty_date >= #{p.dutyDateStart}
        </if>
        <if test="p.dutyDateEnd != null">
            AND t1.duty_date  &lt;= #{p.dutyDateEnd}
        </if>
        <if test="p.address != null">
            AND t1.address  LIKE CONCAT('%',#{p.address},'%')
        </if>
        <if test="p.employeeName != null">
            and t1.employee_id in (
            select t2.id
            from hr_employee t2
            where t2.name LIKE CONCAT('%',#{p.employeeName},'%')
            )
        </if>
        <if test="p.officeName != null">
            and t1.employee_id in (
            select t2.id
            from hr_employee t2 , hr_account_office t3, hr_office t4
            where t2.account_id = t3.account_id
            and t3.office_id = t4.id
            and t4.name like CONCAT('%',#{p.officeName},'%')
            )
        </if>
        <if test="p.positionName != null">
            and t1.employee_id in (
            select t2.id
            from hr_employee t2 , hr_account t3, hr_position t4
            where t2.account_id = t3.id
            and t3.position_id = t4.id
            and t4.name like CONCAT('%',#{p.positionName},'%')
            )
        </if>
    </sql>


    <select id="findByEmployeeAndDate" resultType="DutySign">
        SELECT
        t1.*
        FROM
        hr_duty_sign t1
        WHERE
        t1.enabled=1
        and t1.employee_id=#{employeeId}
        AND t1.duty_date >= #{dateStart}
        and t1.duty_date &lt;= #{dateEnd}
    </select>

</mapper>