<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.hr.mapper.PositionMapper">

    <select id="findPage" resultType="PositionDto">
        select
        t1.*
        from
        hr_position t1
        where
        t1.enabled=1
        <if test="p.name != null">
            and t1.name like concat(concat('%',#{p.name}),'%')
        </if>
        <if test="p.jobId != null">
            and t1.job_id=#{p.jobId}
        </if>
    </select>

    <select id="findByNameLike" resultType="Position">
        select
        t1.*
        from
        hr_position t1
        where
        t1.enabled=1
        <if test="name != null">
            and (t1.name like CONCAT('%',#{name},'%'))
        </if>
    </select>

    <select id="findPermissionByPosition" resultType="String">
        select permission_id from hr_position_permission where position_id = #{positionId}
    </select>

    <delete id="deletePermissionByPosition">
        delete FROM hr_position_permission where position_id = #{positionId}
    </delete>

    <delete id="deleteModuleByPosition">
        delete FROM hr_position_module where position_id = #{positionId}
    </delete>

    <insert id="savePositionAndPermission">
        INSERT INTO hr_position_permission(permission_id,position_id) VALUES
        <foreach collection="permissionIds" index="index" item="item" open="" separator="," close="">
            (#{item},#{positionId})
        </foreach>
    </insert>

    <insert id="savePositionAndBankendModule">
        INSERT INTO hr_position_module(backend_module_id,position_id) VALUES
        <foreach collection="modules" index="index" item="item" open="" separator="," close="">
            (#{item},#{positionId})
        </foreach>
    </insert>

</mapper>
