<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.basic.modules.hr.mapper.RecruitMapper">


    <select id="findPage" resultType="Recruit">
        select t1.*
        from hr_recruit t1
        WHERE t1.enabled = 1
    </select>

    <select id="findByMobilePhone" resultType="Recruit">
        select t1.* from hr_recruit t1 where t1.enabled = 1 and t1.mobile_phone = #{mobilePhone}
    </select>




</mapper>
