<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopAllotDetailMapper">


    <select id="findByShopAllotId" resultType="ShopAllotDetail">
        select t1.* from crm_shop_allot_detail t1 where t1.shop_allot_id  = #{shopAllotId}
    </select>

    <select id="findByShopAllotIds" resultType="ShopAllotDetail">
        SELECT  t1.* from crm_shop_allot_detail t1
        where t1.shop_allot_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteByShopAllotId" >
        DELETE FROM crm_shop_allot_detail where shop_allot_id = #{shopAllotId}
    </delete>

</mapper>
