<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.layout.mapper.ShopPrintMapper">

    <select id="findPage" resultType="ShopPrint">
        SELECT
        t1.*
        FROM
        crm_shop_print t1,hr_office office
        WHERE
        t1.enabled=1
        and t1.office_id=office.id
        <include refid="net.myspring.future.modules.hr.mapper.OfficeMapper.officeFilter" />
        <if test="p.officeId != null">
            AND t1.office_id= #{p.officeId}
        </if>
        <if test="p.printType != null">
            AND t1.print_type  = #{p.printType}
        </if>
        <if test="p.processStatus !=null">
            AND t1.process_status = #{p.processStatus}
        </if>
        <if test="p.createdBy !=null">
            AND t1.created_by in(
              select t2.id
              from hr_account t2
              where t2.login_name like concat('%',#{p.createdBy},'%')
            )
        </if>

    </select>

</mapper>
