body {
	font-size: 1.4rem;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
.container.outer{
	width: 100%;
	height: 100vh;
  	/*background: url('./assets/images/bg.jpg') 100%;*/
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	background: #1f2d3d;
 }
 a:hover{
  text-decoration: none;
 }