<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.ArOtherRecableMapper">
    <select id="findByPeriodForEntrySum" resultType="CustomerReceiveDetailDto">
        SELECT
        b.FID,
        b.FCONTACTUNIT AS customerReceiveDto.customerId,
        e.FNAME AS customerName,
        d.FNAME AS billType,
        b.FBillNo AS billNo,
        b.FDATE AS billDate,
        sum(a.FAMOUNT) AS endShouldGet,
        b.FDocumentStatus AS billStatus
        FROM
        T_AR_OTHERRECABLEENTRY a
        JOIN T_AR_OTHERRECABLE b ON a.FID = b.FID
        LEFT JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        LEFT JOIN T_BD_CUSTOMER_L e ON b.FCONTACTUNIT = e.FCUSTID
        WHERE
        b.FDATE &gt;=#{dateStart} AND
        b.FDATE  &lt;=#{dateEnd} and
        b.FCONTACTUNIT = #{customerId}
        GROUP BY
        b.FID,
        b.FCONTACTUNIT,
        e.FNAME,
        d.FNAME,
        b.FBillNo,
        b.FDATE,
        b.FDocumentStatus
    </select>

    <select id="findByPeriodForSum" resultType="CustomerReceiveDto">
        SELECT
        b.FCONTACTUNIT AS customerId,
        sum(a.FAMOUNT) AS beginShouldGet
        FROM
        T_AR_OTHERRECABLEENTRY a
        JOIN T_AR_OTHERRECABLE b ON a.FID = b.FID
        JOIN T_BD_CUSTOMER e on e.FCUSTID = b.FCONTACTUNIT
        WHERE
        b.FDATE &gt;=#{dateStart}
        and b.FDATE  &lt;=#{dateEnd}
        and e.FPRIMARYGROUP = #{primaryGroup}
        group by
        b.FCONTACTUNIT
    </select>

</mapper>
