<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.ArRefundBillMapper">

    <select id="findByPeriodForSum" resultType="CustomerReceiveDto">
        SELECT
        b.FCONTACTUNIT AS customerId,
        sum(a.FREALREFUNDAMOUNTFOR) AS beginShouldGet
        FROM
        T_AR_REFUNDBILLENTRY a
        JOIN T_AR_REFUNDBILL b ON b.FID = a.FID
        JOIN T_BD_CUSTOMER e ON e.FCUSTID = b.FCONTACTUNIT
        WHERE
        b.FDATE &gt;=#{dateStart}
        and b.FDATE  &lt;=#{dateEnd}
        and b.FCONTACTUNIT in
        <foreach collection="customerIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by
        b.FCONTACTUNIT
    </select>
</mapper>
