<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.BdCustomerMapper">
    <select id="findAll" resultType="BdCustomer">
        SELECT
        t1.FCUSTID,
        t1.FNUMBER,
        t2.FNAME,
        t1.FPRIMARYGROUP,
        t4.FNAME AS fprimaryGroupName,
        t1.FMODIFYDATE
        FROM
        T_BD_CUSTOMER t1,
        T_BD_CUSTOMER_L t2,
        T_BD_CUSTOMERGROUP t3,
        T_BD_CUSTOMERGROUP_L t4
        WHERE
        t1.FCUSTID = t2.FCUSTID
        AND t1.FPRIMARYGROUP = t3.FID
        AND t3.FID = t4.FID
        <if test="maxOutDate != null ">
            AND t1.FMODIFYDATE > #{maxOutDate}
        </if>
    </select>

    <select id="findByName" resultType="BdCustomer">
        SELECT
        t1.FCUSTID,
        t1.FNUMBER,
        t2.FNAME,
        t1.FPRIMARYGROUP,
        t4.FNAME AS fprimaryGroupName,
        t1.FMODIFYDATE
        FROM
        T_BD_CUSTOMER t1,
        T_BD_CUSTOMER_L t2,
        T_BD_CUSTOMERGROUP t3,
        T_BD_CUSTOMERGROUP_L t4
        WHERE
        t1.FCUSTID = t2.FCUSTID
        AND t1.FPRIMARYGROUP = t3.FID
        AND t3.FID = t4.FID
        AND t2.FNAME = #{name}
    </select>

    <select id="findName" resultType="String">
        select
        t2.FNAME
        FROM
        T_BD_CUSTOMER t1,
        LEFT JOIN T_BD_CUSTOMER_L t2 ON t1.FCUSTID = t2.FCUSTID
    </select>
</mapper>
