<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.BdMaterialMapper">

    <select id="findByName" resultType="BdMaterial">
        SELECT
            t1.FMASTERID,
            t1.FNUMBER,
            t2.FNAME,
            t1.FMATERIALGROUP,
            t4.FNAME AS fmaterialGroupName,
            t1.FMODIFYDATE
        FROM
            T_BD_MATERIAL t1,
            T_BD_MATERIAL_L t2,
            T_BD_MATERIALGROUP t3,
            T_BD_MATERIALGROUP_L t4
        WHERE
            t1.FMATERIALID = t2.FMATERIALID
            AND t1.FMATERIALGROUP = t3.FID
            AND t3.FID = t4.FID
            and t2.FNAME = #{name}
    </select>

</mapper>
