<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.BdMaterialMapper">
    <select id="findAll" resultType="BdMaterial">
        SELECT
        t1.FMASTERID,
        t1.FNUMBER,
        t2.FNAME,
        t1.FMATERIALGROUP,
        t4.FNAME AS fmaterialGroupName,
        t1.FMODIFYDATE
        FROM
        T_BD_MATERIAL t1,
        T_BD_MATERIAL_L t2,
        T_BD_MATERIALGROUP t3,
        T_BD_MATERIALGROUP_L t4
        WHERE
        t1.FMATERIALID = t2.FMATERIALID
        AND t1.FMATERIALGROUP = t3.FID
        AND t3.FID = t4.FID
    </select>

    <select id="findByDate" resultType="BdMaterial">
        SELECT
        t1.FMASTERID,
        t1.FNUMBER,
        t2.FNAME,
        t1.FMATERIALGROUP,
        t4.FNAME AS fmaterialGroupName,
        t1.FMODIFYDATE
        FROM
        T_BD_MATERIAL t1,
        T_BD_MATERIAL_L t2,
        T_BD_MATERIALGROUP t3,
        T_BD_MATERIALGROUP_L t4
        WHERE
        t1.FMATERIALID = t2.FMATERIALID
        AND t1.FMATERIALGROUP = t3.FID
        AND t3.FID = t4.FID
        AND t1.FMODIFYDATE > #{maxOutDate}
    </select>

    <select id="findNameByNameLike" resultType="String">
        SELECT
        t2.FNAME
        FROM
        T_BD_MATERIAL t1,
        T_BD_MATERIAL_L t2
        WHERE
        t1.FMATERIALID = t2.FMATERIALID
        and t2.FNAME like CONCAT('%',#{name},'%')
    </select>

    <select id="findNumberByNumberLike" resultType="String">
        SELECT
        t1.FNUMBER
        FROM
        T_BD_MATERIAL t1,
        T_BD_MATERIAL_L t2
        WHERE
        t1.FMATERIALID = t2.FMATERIALID
        and t1.FNUMBER like CONCAT('%',#{number},'%')
    </select>

    <select id="findNameAndNumber" resultType="NameNumberDto">
        SELECT
        t1.FNUMBER as number,
        t2.FNAME as name
        FROM
        T_BD_MATERIAL t1,
        T_BD_MATERIAL_L t2
        WHERE
        t1.FMATERIALID = t2.FMATERIALID
    </select>
    <select id="findCategory" resultType="NameNumberDto">
        select
            t.FNUMBER as number,
            t1.FNAME as name
        from
            T_BD_MATERIALCATEGORY t,
            T_BD_MATERIALCATEGORY_L t1
        where
         t.FCATEGORYID=t1.FCATEGORYID
    </select>
    <select id="findGroup" resultType="NameNumberDto">
        select
            t.FNUMBER as number,
            t1.FNAME as name
        from
            T_BD_MaterialGroup t,
            T_BD_MaterialGroup_L t1
        where
            t.FID=t1.FID
    </select>
</mapper>
