

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.BdStockMapper">
    <select id="findAll" resultType="BdStock">
        SELECT
        t1.FSTOCKID,
        t1.FNUMBER,
        t2.FNAME,
        t1.FGROUP,
        t4.FNAME AS groupName,
        t1.FMODIFYDATE
        FROM
        T_BD_STOCK t1,
        T_BD_STOCK_L t2,
        T_BD_STOCKGROUP t3,
        T_BD_STOCKGROUP_L t4
        WHERE
        t1.FSTOCKID = t2.FSTOCKID
        AND t1.FGROUP = t3.FID
        AND t3.FID = t4.FID
        <if test="maxOutDate != null ">
            AND t1.FMODIFYDATE > #{maxOutDate}
        </if>
    </select>
</mapper>
