<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.HrEmpInfoMapper">
    <select id="findFNumberByName" resultType="String">
       select
        t.FNUMBER
        from
        T_HR_EMPINFO t,
        T_HR_EMPINFO_L t1
        where
         t.FID=t1.FID
         and t1.FNAME=#{name}
    </select>

    <select id="findAllUser" resultType="HrEmpInfo">
        select
         t.FNUMBER,
         t1.FNAME
        from
         T_HR_EMPINFO t,
         T_HR_EMPINFO_L t1
        where
        t.FID = t1.FID
    </select>
</mapper>
