<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.SalOutStockMapper">
    <select id="findXSCKDByPeriodForSum" resultType="CustomerReceiveDto">
        SELECT
        b.FCUSTOMERID AS customerId,
        sum(c.FALLAMOUNT) AS beginShouldGet
        FROM
        T_SAL_OUTSTOCKENTRY a
        JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
        JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN T_BD_CUSTOMER e ON e.FCUSTID = b.FCUSTOMERID
        WHERE
        b.FDATE &gt;=#{dateStart}
        and b.FDATE  &lt;=#{dateEnd}
        and d.FNAME= '标准销售出库单'
        and e.FPRIMARYGROUP = #{primaryGroup}
        group by
        b.FCUSTOMERID
    </select>


    <select id="findXXCKDByPeriodForSum" resultType="CustomerReceiveDto">
        SELECT
        b.FCUSTOMERID AS customerId,
        sum(c.FALLAMOUNT) AS beginShouldGet
        FROM
        T_SAL_OUTSTOCKENTRY a
        JOIN T_SAL_OUTSTOCK b ON a.FID = b.FID
        JOIN T_SAL_OUTSTOCKENTRY_F c ON a.FID = c.FID AND a.FENTRYID = c.FENTRYID
        JOIN T_BAS_BILLTYPE_L d ON b.FBILLTYPEID = d.FBILLTYPEID
        JOIN T_BD_CUSTOMER e ON e.FCUSTID = b.FCUSTOMERID
        WHERE
        b.FDATE &gt;=#{dateStart}
        and b.FDATE  &lt;=#{dateEnd}
        and d.FNAME='现销出库单'
        and e.FPRIMARYGROUP = #{primaryGroup}
        group by
        b.FCUSTOMERID
    </select>
</mapper>
