<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.cloud.modules.kingdee.mapper.StkInventoryMapper">
    <select id="findByfStockIds" resultType="StkInventory">
        SELECT
        t.FSTOCKID,
        t.FMATERIALID,
        t.FBASEQTY as qty
        FROM
        T_STK_INVENTORY t
        WHERE
        t.FSTOCKID in
        <foreach collection="stockIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByStockIdAndMaterialId" resultType="StkInventory">
        SELECT
        t.FSTOCKID,
        t.FMATERIALID,
        t.FBASEQTY as qty
        FROM
        T_STK_INVENTORY t
        WHERE
        t.FSTOCKID = #{fStockId}
        AND t.FMATERIALID = #{fMaterialId}
    </select>
</mapper>
