<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.DemoPhoneMapper">

    <select id="findPage" resultType="DemoPhoneDto">
        SELECT t1.*,t2.ime AS 'ime',t3.name AS 'demoPhoneType',t4.name AS 'shopName'
        FROM crm_demo_phone t1
        LEFT JOIN crm_product_ime t2 ON t1.product_ime_id = t2.id
        LEFT JOIN crm_demo_phone_type t3 ON t1.demo_phone_type_id = t3.id
        LEFT JOIN crm_depot t4 ON t1.shop_id = t4.id
        WHERE t1.enabled = 1
        <if test="p.ime != null">
            AND t2.ime LIKE CONCAT('%',#{p.ime},'%')
        </if>
        <if test="p.shopId != null">
            AND t4.id = #{p.shopId}
        </if>
        <if test="p.demoPhoneType != null">
            AND t3.name LIKE CONCAT('%',#{p.demoPhoneType},'%')
        </if>
        <if test="p.createdDateStart != null">
            AND t1.created_date > #{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd != null">
            AND t1.created_date &lt; #{p.createdDateEnd}
        </if>
    </select>

    <select id="findByFilter" resultType="DemoPhone">
        SELECT t1.*
        FROM crm_demo_phone t1
        where t1.enabled=1
        <include refid="demoPhoneFilter"/>
    </select>

    <sql id="demoPhoneFilter">
        <if test="p.ime != null">
            and t1.product_ime_id in(
            select t2.id
            from crm_product_ime t2
            where t2.ime like concat('%',#{p.ime},'%') or t2.ime2 like concat('%',#{p.ime},'%')
            )
        </if>
        <if test="p.shopName != null">
            and t1.shop_id in(
            select t2.id
            from crm_depot t2
            where t2.name like concat('%',#{p.shopName},'%')
            )
        </if>
    </sql>

</mapper>
