<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.GoodsOrderDetailMapper">

    <select id="findByGoodsOrderId" resultType="GoodsOrderDetail">
        SELECT t1.*
        FROM crm_goods_order_detail t1
        WHERE t1.goods_order_id=#{goodsOrderId}
    </select>

    <select id="findDtoListByGoodsOrderId" resultType="GoodsOrderDetailDto">
             SELECT
                    t1.product_id,
                    t1.price,
                    t2.name productName,
                    t2.has_ime productHasIme,
                    t2.allow_order productAllowOrder,
                    t2.allow_bill productAllowBill,
                    t1.qty,
                    t1.bill_qty
                FROM
                    crm_goods_order_detail t1,
                    crm_product t2
                WHERE
                    t1.goods_order_id = #{goodsOrderId}
                    AND t1.product_id = t2.id
    </select>

    <select id="getListForNewOrUpdateOrBillWithAreaQty" resultType="GoodsOrderDetailDto">
        SELECT
            orderMap.areaQty,
            orderMap.areaBillQty,
            validProduct.*
        FROM
        (
            (
                SELECT
                    t1.product_id,
                    t1.price,
                    t2.name productName,
                    t2.has_ime productHasIme,
                    t2.allow_order productAllowOrder,
                    t2.allow_bill productAllowBill,
                    t1.qty,
                    t1.bill_qty
                FROM
                    crm_goods_order_detail t1,
                    crm_product t2
                WHERE
                    t1.goods_order_id = #{p.goodsOrderId}
                    AND t1.product_id = t2.id
            )
            UNION ALL
            (
                SELECT
                    t1.product_id,
                    t1.price,
                    t2.name productName,
                    t2.has_ime productHasIme,
                    t2.allow_order productAllowOrder,
                    t2.allow_bill productAllowBill,
                    NULL qty,
                    NULL billQty
                FROM
                    crm_pricesystem_detail t1,
                    crm_product t2
                WHERE
                    t1.pricesystem_id = #{p.pricesystemId}
                    AND t1.product_id = t2.id
                    AND t2.enabled = 1
                    AND (
                        '全网通' = #{p.netType}
                        OR t2.net_type = '全网通'
                        OR t2.net_type = #{p.netType}
                        )
                    AND (  #{p.showAll} OR (  t2.allow_order = 1 AND t2.allow_bill = 1  )  )
                    AND NOT EXISTS (
                        SELECT *
                        FROM
                            crm_goods_order_detail detail
                        WHERE
                            detail.goods_order_id = #{p.goodsOrderId}
                            AND detail.product_id = t1.product_id
                        )
            )
        ) validProduct LEFT JOIN (
                                                SELECT
                                                    innerDetail.product_id,
                                                    SUM(innerDetail.qty) areaQty,
                                                    SUM(innerDetail.bill_qty) areaBillQty
                                                FROM
                                                    crm_goods_order_detail innerDetail,
                                                    crm_goods_order innerOrd,
                                                    crm_depot innerDepot
                                                WHERE
                                                    innerDetail.goods_order_id = innerOrd.id
                                                    AND innerOrd.enabled = 1
                                                    <if test="p.createDateStart !=null">
                                                        AND innerOrd.created_date >= #{p.createDateStart}
                                                    </if>
                                                    <if test="p.createDateEnd !=null">
                                                        AND innerOrd.created_date &lt; #{p.createDateEnd}
                                                    </if>
                                                    <if test="p.billDateStart !=null">
                                                        AND innerOrd.bill_date >= #{p.billDateStart}
                                                    </if>
                                                    <if test="p.billDateEnd !=null">
                                                        AND innerOrd.bill_date &lt; #{p.billDateEnd}
                                                    </if>
                                                    <if test="p.shipTypeList !=null">
                                                        and innerOrd.ship_type in
                                                        <foreach collection="p.shipTypeList" item="item" index="index" open="(" separator="," close=")">
                                                            #{item}
                                                        </foreach>
                                                    </if>

                                                    AND innerOrd.shop_id = innerDepot.id
                                                    AND innerDepot.enabled = 1
                                                    <if test="p.officeIdList !=null">
                                                        and innerDepot.office_id in
                                                        <foreach collection="p.officeIdList" item="item" index="index" open="(" separator="," close=")">
                                                            #{item}
                                                        </foreach>
                                                    </if>
                                                    AND innerDepot.company_id = #{p.companyId}
                                                    GROUP BY  innerDetail.product_id
                                                ) orderMap
         ON validProduct.product_id = orderMap.product_id
        ORDER BY validProduct.qty DESC
    </select>


    <select id="getDtoWithAreaQty" resultType="GoodsOrderDetailDto">
        SELECT
            t1.price,
            t2.has_ime productHasIme,
            t2.id productId,
            t2.name productName,
            t2.allow_order productAllowOrder,
            t2.allow_bill productAllowBill,
            (
                SELECT
                    SUM(innerDetail.qty)
                FROM
                    crm_goods_order_detail innerDetail,
                    crm_goods_order innerOrd,
                    crm_depot innerDepot
                WHERE
                    innerDetail.product_id = #{productId}
                AND innerDetail.goods_order_id = innerOrd.id
                AND innerOrd.enabled = 1
                AND innerOrd.created_date >= #{dateStart}
                AND innerOrd.created_date &lt; #{dateEnd}
                AND innerOrd.shop_id = innerDepot.id
                AND innerDepot.enabled = 1
                AND innerDepot.area_id = t3.area_id
            ) areaQty
        FROM
            crm_pricesystem_detail t1,
            crm_product t2,
            crm_depot t3
        WHERE
            t3.id = #{depotId}
        AND t1.pricesystem_id = t3.pricesystem_id
        AND t1.product_id = #{productId}
        AND t1.product_id = t2.id
    </select>



    <select id="findByGoodsOrderIds" resultType="GoodsOrderDetail">
        SELECT t1.*
        FROM crm_goods_order_detail t1
        WHERE t1.goods_order_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByParentOfficeIdAndCreatedDate" resultType="GoodsOrderDetail">
        SELECT t1.*
         FROM crm_goods_order_detail t1,crm_goods_order t2 ,crm_depot t3
          where t3.enabled=1
          and t2.enabled=1
          and t1.goods_order_id=t2.id
          and t2.shop_id=t3.id
          and t3.area_id=#{areaId}
          and t2.created_date &gt;= #{dateStart}
          and t2.created_date &lt;= #{dateEnd}
    </select>

    <select id="findByParentOfficeIdAndBillDate" resultType="GoodsOrderDetail">
         SELECT t1.*
         FROM crm_goods_order_detail t1,crm_goods_order t2 ,crm_depot t3
          where t3.enabled=1
          and t2.enabled=1
          and t1.goods_order_id=t2.id
          and t2.shop_id=t3.id
          and t3.area_id=#{areaId}
          and t2.bill_date &gt;= #{dateStart}
          and t2.bill_date &lt;= #{dateEnd}
          and t2.ship_type in
          <foreach collection="shipTypes" item="item" index="index" open="(" separator="," close=")">
              #{item}
          </foreach>
    </select>

    <delete id="deleteByGoodsOrderId" >
        DELETE FROM crm_goods_order_detail where goods_order_id = #{goodsOrderId}
    </delete>


</mapper>
