<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.GoodsOrderMapper">

    <select id="findPage" resultType="GoodsOrderDto">
        SELECT
         t1.*
        FROM
        crm_goods_order t1,
        crm_depot depot
        WHERE
        t1.enabled = 1
        AND t1.shop_id = depot.id
        <include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter"/>
        <include refid="goodsOrderFilter"/>
    </select>


    <select id="findList" resultType="GoodsOrderDto">
        SELECT
        t1.*
        FROM
        crm_goods_order t1,
        crm_depot depot
        WHERE
        t1.enabled = 1
        AND t1.shop_id = depot.id
        <include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter"/>
        <include refid="goodsOrderFilter"/>
    </select>

    <select id="findMaxBusinessId" resultType="String">
        SELECT
        MAX(t1.business_id)
        FROM  crm_goods_order t1
        WHERE
        t1.bill_date>=#{date}
    </select>


    <sql id="goodsOrderFilter">
        <if test="p.netType !=null ">
            AND t1.net_type=#{p.netType}
        </if>
        <if test="p.businessId !=null">
            AND t1.business_id LIKE CONCAT('%',#{p.businessId},'%')
        </if>
        <if test="p.outCode !=null">
            AND t1.out_code LIKE CONCAT('%',#{p.outCode},'%')
        </if>
        <if test="p.storeId !=null">
            AND t1.store_id=#{p.storeId}
        </if>
        <if test="p.status !=null">
            AND t1.status=#{p.status}
        </if>
        <if test="p.remarks !=null">
            AND t1.remarks=#{p.remarks}
        </if>
        <if test="p.shipType !=null ">
            AND t1.ship_type=#{p.shipType}
        </if>
        <if test="p.shopName != null">
            AND depot.name LIKE CONCAT('%',#{p.shopName},'%')
        </if>
        <if test="p.areaId !=null ">
            AND depot.area_id=#{p.areaId}
        </if>
        <if test="p.createdDateStart !=null">
            AND t1.created_date &gt;=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            AND t1.created_date &lt; #{p.createdDateEnd}
        </if>
        <if test="p.billDateStart !=null">
            AND t1.bill_date &gt;=#{p.billDateStart}
        </if>
        <if test="p.billDateEnd !=null">
            AND t1.bill_date &lt; #{p.billDateEnd}
        </if>
        <if test="p.shipDateStart !=null">
            AND t1.ship_date &gt;=#{p.shipDateStart}
        </if>
        <if test="p.shipDateEnd !=null">
            AND t1.ship_date &lt; #{p.shipDateEnd}
        </if>
        <if test="p.createdBy !=null">
            and t1.created_by = #{p.createdBy}
        </if>
        <if test="p.expressCodes !=null">
            and t1.express_order_id in(
            select id
            from crm_express_order
            where express_codes like concat('%',#{p.expressCodes},'%')
            and enabled=1
            )
        </if>
    </sql>

</mapper>
