<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.PriceChangeImeMapper">

    <select id="findPage" resultType="PriceChangeImeDto">
        SELECT
        depot.office_id officeId,t2.name priceChangeName,productIme.ime ime,productIme.product_id productId,t1.*
        FROM
        crm_price_change_ime t1,crm_price_change t2,crm_depot depot,crm_product_ime productIme
        WHERE
         t1.price_change_id=t2.id
        and t1.shop_id=depot.id
        and t1.product_ime_id=productIme.id
        and t1.enabled=1
        <!--<include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter" />-->
        <if test="p.image != null">
            <if test = "p.image">
                AND t1.image is NOT NULL
            </if>
            <if test = "!p.image">
                AND t1.image is NULL
            </if>
            AND t1.image = #{p.image}
        </if>
        <if test="p.isCheck != null">
            AND t1.is_check = #{p.isCheck}
        </if>
        <if test="p.status != null">
            AND t1.status = #{p.status}
        </if>
        <!--<include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter"/>-->
        <if test="p.priceChangeName != null ">
            and t2.name  like CONCAT('%', #{p.priceChangeName},'%')
        </if>
        <if test="p.productId !=null">
            and productIme.product_id = #{p.productId}
        </if>
        <if test="p.shopId !=null">
            and t1.shop_id =#{p.shopId}
        </if>
        <if test="p.ime !=null">
            and productIme.ime like CONCAT('%',#{p.ime},'%')
        </if>
        <if test="p.officeId !=null">
            and depot.office_id = #{p.officeId}
        </if>
    </select>

    <select id="findByPriceChangeId" resultType="PriceChangeIme">
        select t1.* from crm_price_change_ime t1 where t1.enabled = 1 and t1.price_change_id = #{priceChangeId}
    </select>

    <select id="findByUploadDateIsNotNull" resultType="PriceChangeIme">
        select t1.* from crm_price_change_ime t1 where t1.enabled = 1 and t1.price_change_id = #{priceChangeId} and  t1.uploadDate is not null
    </select>

    <select id="findCheckList" resultType="PriceChangeIme">
        select t1.*
        from crm_price_change_ime t1
        where t1.enabled = 1
        and t1.price_change_id = #{priceChangeId}
        <if test="maxSaleDate !=null">
            and  t.saleDate &lt;  #{maxSaleDate}
        </if>
        <if test="maxSaleDate ==null">
            and  t.saleDate is null
        </if>
         and  t1.uploadDate is not null
    </select>
</mapper>
