<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.ProductMonthPriceMapper">



    <select id="findPage" resultType="ProductMonthPrice">
        SELECT
        t1.*
        FROM
        crm_product_month_price t1
        WHERE
        t1.enabled=1
        <if test="p.month != null">
            AND t1.month = #{p.month}
        </if>
    </select>

    <select id="findByMonth" resultType="ProductMonthPrice">
        select t1.* from crm_product_month_price t1 where t1.enabled = 1 and t1.month = #{month}
    </select>

</mapper>
