<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.ProductMonthPriceDetailMapper">

    <select id="findByProductMonthPriceIdList" resultType="ProductMonthPriceDetail">
        select t1.*  from
        crm_product_month_price_detail t1
        where t1.product_month_price_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteByProductMonthPriceId">
        DELETE from crm_product_month_price_detail where product_month_price_id = #{productMonthPriceId}
    </delete>
</mapper>
