<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.ProductImeMapper">

    <select id="findList" resultType="ProductIme">
        SELECT t1.*
        FROM crm_product_ime t1,crm_depot depot
        where  t1.enabled=1
        and t1.depot_id=depot.id
        <include refid="net.myspring.future.modules.basic.mapper.DepotMapper.depotFilter" />
        <if test="p.boxIme !=null" >
            and t1.box_ime like CONCAT('%',#{p.boxIme},'%')
        </if>
        <if test="p.imeReverse !=null" >
            and t1.ime_reverse like CONCAT(#{p.imeReverse},'%')
        </if>
        <if test="p.ime2 !=null" >
            and t1.ime2  like CONCAT('%',#{p.ime2},'%')
        </if>
        <if test="p.meid !=null" >
            and t1.meid like CONCAT('%',#{p.meid},'%')
        </if>
        <if test="p.imeList !=null" >
            and (t1.ime in
            <foreach item="item" index="index" collection="p.imes" open="(" separator="," close=")">
                #{item}
            </foreach>
            or t1.ime1 in
            <foreach item="item" index="index" collection="p.imes" open="(" separator="," close=")">
                #{item}
            </foreach>
            or t1.meid in
            <foreach item="item" index="index" collection="p.imes" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="p.createdDateStart !=null">
            AND t1.created_date>=#{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            AND t1.created_date &lt;=#{p.createdDateEnd}
        </if>
        <if test="p.retailDateStart !=null">
            AND t1.retail_date &gt;=#{p.retailDateStart}
        </if>
        <if test="p.retailDateEnd !=null">
            AND t1.retail_date &lt;=#{p.retailDateEnd}
        </if>
        <if test="p.createTimeStart !=null">
            AND t1.create_time &gt;=#{p.createTimeStart}
        </if>
        <if test="p.createTimeEnd !=null">
            AND t1.create_time &lt;=#{p.createTimeEnd}
        </if>
        <if test="p.depotId !=null" >
            and t1.depot_id = #{p.depotId}
        </if>
        <if test="p.productId !=null" >
            and t1.product_id = #{p.productId}
        </if>
        <if test="p.inputType !=null" >
            and t1.input_type =#{p.inputType}
        </if>
        <if test="p.pageable.sort !=null" >
           order by t1.${p.pageable.sort}
        </if>
        limit ${p.pageable.offset},${p.pageable.pageSize}
    </select>

    <select id="findByImeList" resultType="ProductIme">
        SELECT
        t1.*
        FROM
        crm_product_ime t1
        where t1.enabled=1
        and t1.ime in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        or t1.ime2 in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        or t1.meid in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findShipList" resultType="ProductIme">
        <if test="boxList !=null and boxList.size() !=0">
            SELECT
            t1.*
            FROM
            crm_product_ime t1
            where t1.enabled=1
            and t1.depot_id=#{storeId}
            and t1.box_ime IN
            <foreach item="item" index="index" collection="boxList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="boxImeAndIme">
            UNION
        </if>
        <if test="imeList !=null and imeList.size() !=0">
            SELECT
            t1.*
            FROM
            crm_product_ime t1
            where t1.enabled=1
            and (t1.ime IN
            <foreach item="item" index="index" collection="imeList" open="(" separator="," close=")">
                #{item}
            </foreach>
            or t1.ime2 in
            <foreach item="item" index="index" collection="imeList" open="(" separator="," close=")">
                #{item}
            </foreach>
            or t1.meid in
            <foreach item="item" index="index" collection="imeList" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
    </select>

    <select id="findByIme" resultType="ProductIme">
        SELECT
        t1.*
        FROM
        crm_product_ime t1
        where t1.enabled=1
        and t1.ime =  #{item} or t1.ime2 =  #{item} or t1.meid =  #{item}
    </select>
</mapper>
