<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.ReportScoreOfficeMapper">

    <select id="findPage" resultType="ReportScoreOffice">
        SELECT
        t1.*
        FROM
        crm_report_score_office t1,hr_office office
        WHERE
        t1.date_rank >0
        and t1.month_rank >0
        and t1.office_id=office.id
        <include refid="net.myspring.future.modules.hr.mapper.OfficeMapper.officeFilter" />
        <if test="p.scoreDate != null ">
            AND t1.score_date  = #{p.scoreDate}
        </if>
        <if test="p.areaId != null">
            AND office.parent_id  = #{p.areaId}
        </if>
        <if test="p.officeId != null">
            AND t1.office_id = #{p.officeId}
        </if>
        <if test="p.officeName != null">
            AND office.name  LIKE CONCAT('%',#{p.officeName},'%')
        </if>
    </select>

</mapper>
