<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.StoreAllotImeMapper">

    <select id="findByProductImeId" resultType="StoreAllotIme">
        select t1.*
        from crm_store_allot_ime t1
        where t1.product_ime_id = #{productImeId}
    </select>

    <select id="findByStoreAllotFilter" resultType="StoreAllotIme">
        SELECT t1.*
        FROM crm_store_allot_ime t1
        where t1.enabled=1
        and t1.store_ime_id in
        <foreach collection="storeAllotList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="findByStoreAllotId" resultType="StoreAllotImeDto">
        select ime.ime productIme, ime.meid productMeid, product.name productName, t1.*
        from crm_store_allot_ime t1, crm_product product, crm_product_ime ime
        where t1.store_allot_id = #{storeAllotId}
        and t1.enabled = 1
        and t1.product_id = product.id
        and t1.product_ime_id = ime.id
    </select>


</mapper>
