<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.StoreAllotMapper">

    <select id="findPage" resultType="StoreAllotDto">
        SELECT depot1.name fromStoreName, depot2.name toStoreName, t1.*
        FROM  crm_store_allot t1, crm_depot depot1, crm_depot depot2
        where t1.enabled=1
        and (t1.from_store_id=depot1.id and  t1.to_store_id=depot2.id)
        <include refid="storeAllotFilter" />
    </select>

    <select id="findStoreAllotDtoById" resultType="StoreAllotDto">
        SELECT depot1.name fromStoreName, depot2.name toStoreName, t1.*
        FROM  crm_store_allot t1, crm_depot depot1, crm_depot depot2
        where t1.enabled=1
        and (t1.from_store_id=depot1.id and  t1.to_store_id=depot2.id)
        and t1.id = #{id};
    </select>

    <select id="findByFilter" resultType="StoreAllot">
        SELECT t1.*
        FROM  crm_store_allot t1
        where t1.enabled=1
        <include refid="storeAllotFilter" />
    </select>

    <select id="findMaxBusinessId" resultType="String">
        SELECT
        MAX(t1.business_id)
        FROM
        crm_store_allot t1
        WHERE
        t1.created_date>=#{localDate}
    </select>

    <sql id="storeAllotFilter">
        <if test="p.remarks!=null">
            and t1.remarks like concat('%',#{p.remarks},'%')
        </if>
        <if test="p.status!=null">
            and t1.status=#{p.status}
        </if>
        <if test="p.fromStoreId!=null">
            and t1.from_store_id=#{p.fromStoreId}
        </if>
        <if test="p.toStoreId!=null">
            and t1.to_store_id=#{p.toStoreId}
        </if>

        <if test="p.businessIdList!=null">
            and t1.business_id in
            <foreach item="item" index="index" collection="p.businessIdList" open="(" separator="," close=")">
                #{p.businessIdList[${index}]}
            </foreach>
        </if>
        <if test="p.outCode!=null">
            and t1.out_code like concat('%',#{p.outCode},'%')
        </if>
        <if test="p.createdDateStart!=null">
            and t1.created_date &gt;= #{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd!=null">
            and t1.created_date &lt;= #{p.createdDateEnd}
        </if>

    </sql>

</mapper>
