<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.tool.modules.vivo.mapper.VivoMapper">
    <select id="products" resultType="VivoProducts">
        select *  from VR_Products
    </select>

    <select id="plantProducts" resultType="VivoPlantProducts">
        select *  from vr_products_m13e00
    </select>

    <select id="plantSendimei" resultType="VivoPlantSendimei">
        select *  from vr_plant_sendimei_m13e00 t1
        where t1.createdTime &gt;= #{dateStart}
        and t1.createdTime &lt;= #{dateEnd}
        and t1.companyId in
        <foreach item="item" index="index" collection="agentCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="plantElectronicsn" resultType="VivoPlantElectronicsn">
        select snImei,companyId,productId,retailDate,createTime
        from vr_plant_electronicsn_m13e00  t1
        where t1.retailDate &gt;= #{dateStart}
        and t1.retailDate &lt;= #{dateEnd}
    </select>

    <delete id="deleteZones">
        delete from S_ZONES_M13E00 where ZoneId like #{mainCode}
    </delete>

    <delete id="idvivoDeleteZones">
        delete from S_ZONES_R250082;
        delete from S_ZONES_R2500821;
        delete from S_ZONES_R2500822;
        delete from S_ZONES_R2500823;
    </delete>

    <insert id="insertZones">
        insert into S_ZONES_M13E00
        (zoneID,zoneName,shortCut,zoneDepth,zonePath,fatherID,subCount,zoneTypes)
        values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.zoneID},
            #{item.zoneName},
            #{item.shortCut},
            #{item.zoneDepth},
            #{item.zonePath},
            #{item.fatherID},
            #{item.subCount},
            #{item.zoneTypes}
            )
        </foreach>
    </insert>

    <insert id="insertZonesR250082" >
        insert into S_ZONES_${name}
        (zoneID,zoneName,shortCut,zoneDepth,zonePath,fatherID,subCount,zoneTypes)
        values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.zoneID},
            #{item.zoneName},
            #{item.shortCut},
            #{item.zoneDepth},
            #{item.zonePath},
            #{item.fatherID},
            #{item.subCount},
            #{item.zoneTypes}
            )
        </foreach>
    </insert>

    <select id="findCustomerIDs"  resultType="String">
        select distinct CustomerID from S_Customers_M13e00 where CompanyID=  #{mainCode}
    </select>

    <select id="findIdvivoCustomerIDs"  resultType="String">
        SELECT
        DISTINCT CustomerID
        FROM
        S_Customers_R250082
        UNION
        SELECT
        DISTINCT CustomerID
        FROM
        S_Customers_R2500821
        union
        SELECT
        DISTINCT CustomerID
        FROM
        S_Customers_R2500822
        union
        SELECT
        DISTINCT CustomerID
        FROM
        S_Customers_R2500823
    </select>


    <insert id="insertCustomers" >
        insert into S_Customers_M13e00
        (customerID,
        customerName,
        Shortcut,
        customerType,
        customerSort,
        customerKASort,
        address,
        postcode,
        telephone,
        fax,
        linkMan,
        linkTel,
        remark,
        inUse,
        zoneID,
        companyID,
        recordDate,
        customerLevel,
        manager,
        customerstr1,
        customerstr2,
        customerstr3,
        customerstr4,
        customerstr5,
        customerstr6,
        customerstr7,
        customerstr8,
        customerstr9,
        customerstr10,
        latentCustomers
        )VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.customerID},
            #{item.customerName},
            #{item.Shortcut},
            #{item.customerType},
            #{item.customerSort},
            #{item.customerKASort},
            #{item.address},
            #{item.postcode},
            #{item.telephone},
            #{item.fax},
            #{item.linkMan},
            #{item.linkTel},
            #{item.remark},
            #{item.inUse},
            #{item.zoneID},
            #{item.companyID},
            #{item.recordDate},
            #{item.customerLevel},
            #{item.manager},
            #{item.customerstr1},
            #{item.customerstr2},
            #{item.customerstr3},
            #{item.customerstr4},
            #{item.customerstr5},
            #{item.customerstr6},
            #{item.customerstr7},
            #{item.customerstr8},
            #{item.customerstr9},
            #{item.customerstr10},
            #{item.latentCustomers}
            )
        </foreach>
    </insert>

    <insert id="insertCustomersR250082">
        insert into  S_Customers_${name}
        (customerID,
        customerName,
        zoneID,
        companyID,
        recordDate,
        customerLevel,
        manager,
        customerstr1,
        customerstr2,
        customerstr3,
        customerstr4,
        customerstr5,
        customerstr6,
        customerstr7,
        customerstr8,
        customerstr9,
        customerstr10,
        latentCustomers
        )VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.customerID},
            #{item.customerName},
            #{item.zoneID},
            #{item.companyID},
            #{item.recordDate},
            #{item.customerLevel},
            #{item.manager},
            #{item.customerstr1},
            #{item.customerstr2},
            #{item.customerstr3},
            #{item.customerstr4},
            #{item.customerstr5},
            #{item.customerstr6},
            #{item.customerstr7},
            #{item.customerstr8},
            #{item.customerstr9},
            #{item.customerstr10},
            #{item.latentCustomers}
            )
        </foreach>
    </insert>

    <insert id="insertPlantStockSupplyR250082" >
        insert into S_PlantStockSupply_${name}
        (companyID,supplyID,productID,createdTime,sumstock,useablestock,bad,accountDate) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.supplyID},
            #{item.productID},
            #{item.createdTime},
            #{item.sumstock},
            #{item.useablestock},
            #{item.bad},
            #{item.accountDate}
            )
        </foreach>
    </insert>

    <insert id="insertPlantStockSupply">
        insert into S_PlantStockSupply_M13e00
        (companyID,supplyID,productID,createdTime,sumstock,useablestock,bad,accountDate) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.supplyID},
            #{item.productID},
            #{item.createdTime},
            #{item.sumstock},
            #{item.useablestock},
            #{item.bad},
            #{item.accountDate}
            )
        </foreach>
    </insert>

    <insert id="insertPlantStockDealerR250082" >
        insert into S_PlantStockDealer_${name}
        (companyID,dealerID,productID,createdTime,sumstock,useablestock,bad,accountDate) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.dealerID},
            #{item.productID},
            #{item.createdTime},
            #{item.sumstock},
            #{item.useablestock},
            #{item.bad},
            #{item.accountDate}
            )
        </foreach>
    </insert>

    <insert id="insertPlantStockDealer">
        insert into S_PlantStockDealer_M13e00 (companyID,dealerID,productID,createdTime,sumstock,useablestock,bad,accountDate) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.dealerID},
            #{item.productID},
            #{item.createdTime},
            #{item.sumstock},
            #{item.useablestock},
            #{item.bad},
            #{item.accountDate}
            )
        </foreach>
    </insert>

    <insert id="insertPlantStockStoresR250082" >
        insert into S_PlantStockStores_${name} (companyID,storeID,productID,createdTime,sumstock,useablestock,bad,accountDate) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.storeID},
            #{item.productID},
            #{item.createdTime},
            #{item.sumstock},
            #{item.useablestock},
            #{item.bad},
            #{item.accountDate}
            )
        </foreach>
    </insert>

    <insert id="insertPlantStockStores">
        insert into S_PlantStockStores_M13e00(companyID,storeID,productID,createdTime,sumstock,useablestock,bad,accountDate) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.storeID},
            #{item.productID},
            #{item.createdTime},
            #{item.sumstock},
            #{item.useablestock},
            #{item.bad},
            #{item.accountDate}
            )
        </foreach>
    </insert>

    <delete id="deleteProductItemLend">
        delete from S_ProductItemLend_M13e00 where CompanyID =#{mainCode}
    </delete>

    <insert id="insertProductItemLend">
        insert into S_ProductItemLend_M13e00
        (
        companyID,
        productID,
        productNo,
        storeID,
        customerID,
        subCustomerID,
        status,
        statusInfo,
        isReturnProfit,
        isLock,
        remark
        ) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.productID},
            #{item.productNo},
            #{item.storeID},
            #{item.customerID},
            #{item.subCustomerID},
            #{item.status},
            #{item.statusInfo},
            #{item.isReturnProfit},
            #{item.isLock},
            #{item.remark}
            )
        </foreach>
    </insert>

    <insert id="deleteProductItem000R250082">
        delete from  S_ProductItem000_R250082;
        delete from  S_ProductItem000_R2500821;
        delete from S_ProductItem000_R2500822;
        delete from  S_ProductItem000_R2500823;
    </insert>


    <insert id="insertProductItem000R250082">
        insert into S_ProductItem000_${name}
        (companyID,productID,productNo,storeID,customerID,subCustomerID,status,statusInfo,isReturnProfit,isLock,remark) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.productID},
            #{item.productNo},
            #{item.storeID},
            #{item.customerID},
            #{item.subCustomerID},
            #{item.status},
            #{item.statusInfo},
            #{item.isReturnProfit},
            #{item.isLock},
            #{item.remark}
            )
        </foreach>
    </insert>

    <insert id="deleteProductItem000">
        delete from  S_ProductItem000_M13E00;
    </insert>

    <insert id="insertProductItem000">
        insert into S_ProductItem000_M13e00 (companyID,productID,productNo,storeID,customerID,subCustomerID,status,statusInfo,isReturnProfit,isLock,remark) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.productID},
            #{item.productNo},
            #{item.storeID},
            #{item.customerID},
            #{item.subCustomerID},
            #{item.status},
            #{item.statusInfo},
            #{item.isReturnProfit},
            #{item.isLock},
            #{item.remark}
            )
        </foreach>
    </insert>

    <insert id="deleteProductItemStocks">
        delete from S_ProductItemStocks_M13E00;
    </insert>

    <insert id="insertProductItemStocks">
        insert into S_ProductItemStocks_M13E00 (companyID,productID,productNo,storeID,customerID,subCustomerID,status,statusInfo,isReturnProfit,isLock,remark) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.productID},
            #{item.productNo},
            #{item.storeID},
            #{item.customerID},
            #{item.subCustomerID},
            #{item.status},
            #{item.statusInfo},
            #{item.isReturnProfit},
            #{item.isLock},
            #{item.remark}
            )
        </foreach>
    </insert>


    <insert id="deleteProductItemStocksR250082">
        delete from S_ProductItemStocks_R250082;
        delete from S_ProductItemStocks_R2500821;
        delete from S_ProductItemStocks_R2500822;
        delete from S_ProductItemStocks_R2500823;
    </insert>

    <insert id="insertProductItemStocksR250082">
        insert into S_ProductItemStocks_${name} (companyID,productID,productNo,storeID,customerID,subCustomerID,status,statusInfo,isReturnProfit,isLock,remark) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.productID},
            #{item.productNo},
            #{item.storeID},
            #{item.customerID},
            #{item.subCustomerID},
            #{item.status},
            #{item.statusInfo},
            #{item.isReturnProfit},
            #{item.isLock},
            #{item.remark}
            )
        </foreach>
    </insert>

    <insert id="insertSPlantendproductsaleR250082">
        insert into S_PlantEndProductSale_${name}(companyID,endBillID,productID,saleCount,imei,billDate,dealerID,salePrice,createdTime) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.endBillID},
            #{item.productID},
            #{item.saleCount},
            #{item.imei},
            #{item.billDate},
            #{item.dealerID},
            #{item.salePrice},
            #{item.createdTime}
            )
        </foreach>
    </insert>

    <insert id="insertSPlantendproductsaleM13e00">
        insert into S_PlantEndProductSale_M13e00(companyID,endBillID,productID,saleCount,imei,billDate,dealerID,salePrice,createdTime) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.companyID},
            #{item.endBillID},
            #{item.productID},
            #{item.saleCount},
            #{item.imei},
            #{item.billDate},
            #{item.dealerID},
            #{item.salePrice},
            #{item.createdTime}
            )
        </foreach>
    </insert>

    <select id="getSPlantStockSupply" resultType="SPlantStockSupplyM13e00">
        select *  from S_PlantStockSupply_M13e00
        where CompanyID=#{mainCode}
        and AccountDate=#{date}
    </select>

    <select id="getIdvivoSPlantStockSupply" resultType="SPlantStockSupplyM13e00">
        select * from S_PlantStockSupply_R2500821
        union
        select * from S_PlantStockSupply_R2500822
        union
        select * from S_PlantStockSupply_R2500823
    </select>

    <select id="getSPlantStockDealer" resultType="SPlantStockDealerM13e00">
        select *  from S_PlantStockDealer_M13e00
        where CompanyID=#{mainCode}
        and AccountDate=#{date}
    </select>

    <select id="getIdvivoSPlantStockDealer" resultType="SPlantStockDealerM13e00">
        select * from S_PlantStockDealer_R2500821
        union
        select * from S_PlantStockDealer_R2500822
        union
        select * from S_PlantStockDealer_R2500823
    </select>

    <select id="getSPlantStockStores" resultType="SPlantStockStoresM13e00">
        select *  from s_PlantStockStores_m13e00
        where CompanyID=#{mainCode}
        and AccountDate=#{date}
    </select>

    <select id="getIdvivoSPlantStockStores" resultType="SPlantStockStoresM13e00">
        select *  from S_PlantStockStores_R250082
        where AccountDate=#{date}
    </select>

    <select id="getSProductItem" resultType="String">
        select ProductNo  from S_ProductItem000_M13e00
    </select>

    <select id="getIdvivoSProductItem" resultType="String">
        select ProductNo  from S_ProductItem000_R2500821
        union
        select ProductNo  from S_ProductItem000_R2500822
        union
        select ProductNo  from S_ProductItem000_R2500823
    </select>

    <insert id="deleteSStores">
        delete from  S_Stores_M13E00;
    </insert>

    <insert id="insertSStores">
        insert into S_Stores_M13E00
        (storeID,storeName,remark,shortCut) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.storeID},
            #{item.storeName},
            #{item.remark},
            #{item.shortCut}
            )
        </foreach>
    </insert>

    <insert id="deleteSStoresR250082">
        delete from  S_Stores_R250082;
        delete from  S_Stores_R2500821;
        delete from S_Stores_R2500822;
        delete from  S_Stores_R2500823;
    </insert>

    <insert id="insertSStoresR250082">
        insert into S_Stores_${name}
        (storeID,storeName,remark,shortCut) values
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
            #{item.storeID},
            #{item.storeName},
            #{item.remark},
            #{item.shortCut}
            )
        </foreach>
    </insert>
</mapper>