<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.tool.modules.vivo.mapper.VivoPlantProductsMapper">

    <select id="findItemNumbers" resultType="String">
        select t.item_number
        from vivo_plant_products t
        where t.item_number in
            <foreach item="item" index="index" collection="itemNumbers" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="findAll" resultType="VivoPlantProducts">
        select *  from vivo_plant_products
    </select>
  
  <select id="findById" resultType="VivoPlantProducts">
    select *  from vivo_plant_products where id=#{id}
  </select>
    
    <insert id="save">
      INSERT  INTO vivo_plant_products
      (
        type_id,
        color_id,
        color_name,
        type_name,
        brand_id,
        brand_name,
        remark,
        remark_color,
        short_cut,
        short_cut_color,
        unit,
        brand_type,
        item_desc,
        item_number,
        item_type,
        org_id,
        code_record_type,
        created_by,
        created_date,
        last_modified_by,
        last_modified_date,
        remarks,
        version,
        locked,
        enabled
      )
      VALUES
      <foreach item="item" index="index" collection="list" open="" separator="," close="">
      (
        #{item.typeId},
        #{item.colorId},
        #{item.colorName},
        #{item.typeName},
        #{item.brandId},
        #{item.brandName},
        #{item.remark},
        #{item.remarkColor},
        #{item.shortCut},
        #{item.shortCutColor},
        #{item.unit},
        #{item.brandType},
        #{item.itemDesc},
        #{item.itemNumber},
        #{item.itemType},
        #{item.orgId},
        #{item.codeRecordType},
        #{item.createdBy},
        #{item.createdDate},
        #{item.lastModifiedBy},
        #{item.lastModifiedDate},
        #{item.remarks},
        #{item.version},
        #{item.locked},
        #{item.enabled}
      )
      </foreach>
    </insert>

    </mapper>