<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.tool.modules.vivo.mapper.VivoPlantElectronicsnMapper">

    <update id="updateProductImeRetailDate" >
        update crm_product_ime t1,vivo_plant_electronicsn t2
        set t1.retail_date=t2.retail_date
        where t1.ime=t2.sn_imei
        and t2.retail_date &gt;= #{dateStart}
        and t2.retail_date &lt;= #{dateEnd}
        and t1.company_id = #{companyId}
    </update>
    
    <select id="findSnImeis" resultType="String">
      select t.sn_imei
      from vivo_plant_electronicsn t
      where t.sn_imei in
        <foreach item="item" index="index" collection="snImeis" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findNameQtyList" resultType="CommonEntity">
        select
        t.product_id as name ,count(t.*) as qty
        from vivo_plant_electronicsn t
        where t.product_id is not null
        and t.retailDate &gt; =#{dateStart}
        and t.retailDate &lt;=#{dateEnd}
        group by t.product_id
    </select>
    
    <insert id="save">
        INSERT INTO vivo_plant_electronicsn
        (
        sn_imei,
        company_id,
        product_id,
        retail_date,
        create_time
        )
        VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
          #{item.snImei},
          #{item.companyId},
          #{item.productId},
          #{item.retailDate},
          #{item.createTime}
            )
        </foreach>
    </insert>

</mapper>