<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.general.modules.sys.mapper.DistrictMapper">

    <select id="findByParentId" resultType="District">
        SELECT t1.*
        FROM sys_district t1
        where t1.parent_id=#{parentId}
    </select>

    <select id="findByName" resultType="District">
        SELECT t1.*
         FROM sys_district t1
        where t1.name=#{name}
    </select>

    <select id="findByProvinceAndCityAndCounty" resultType="District">
        select t1.*  from sys_district t1 where t1.province = #{province} and t1.city =#{city} and t1.county = #{county}
    </select>

    <select id="findByProvince" resultType="District">
        SELECT DISTINCT t1.province
        FROM sys_district t1
    </select>

    <select id="findByLikeName" resultType="District">
        SELECT t1.*
        FROM sys_district t1
        WHERE t1.province like CONCAT('%',#{name},'%')  or t1.city like CONCAT('%',#{name},'%') or t1.county like CONCAT('%',#{name},'%')
    </select>

</mapper>
