<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.general.modules.sys.mapper.FolderFileMapper">

    <select id="findPage" resultType="FolderFileDto">
        SELECT
        t1.*
        FROM
        sys_folder_file t1
        WHERE
        t1.enabled=1
        <if test="p.createdDateStart != null">
            AND t1.created_date > #{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd != null">
            AND t1.created_date &lt; #{p.createdDateEnd}
        </if>
    </select>

</mapper>
