<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.uaa.mapper.AccountDtoMapper">
    <select id="findByLoginName" resultType="AccountDto">
        SELECT
        t1.*,
        t2.leave_date as 'leaveDate',
        t3.role_id as 'roleId'
        FROM
        hr_account t1,
        hr_employee t2,
        hr_position t3
        WHERE
        t1.employee_id = t2.id
        and t1.position_id=t3.id
        and t1.login_name=#{loginName}
    </select>

    <select id="findById" resultType="AccountDto">
        SELECT
        t1.*,
        t2.leave_date as 'leaveDate',
        t3.role_id as 'roleId'
        FROM
        hr_account t1,
        hr_employee t2,
        hr_position t3
        WHERE
        t1.employee_id = t2.id
        and t1.position_id=t3.id
        and t1.id=#{id}
    </select>

</mapper>
