<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.AdPricesystemDetailMapper">

    <select id="findByAdPricesystemId" resultType="AdPricesystemDetail">
        SELECT t1.*
        FROM crm_ad_pricesystem_detail t1
        where t1.enabled=1
        and t1.ad_pricesystem_id=#{adPricesystemId}
    </select>

</mapper>
