<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.AfterSaleImeAllotMapper">
    <select id="findByProductImeId" resultType="AfterSaleImeAllot">
         select t1.*
        from crm_after_sale_ime_allot t1
        where t1.product_ime_id = #{productImeId}
    </select>

    <select id="findByAfterSaleId" resultType="AfterSaleImeAllot">
        select t1.*
        from crm_after_sale_ime_allot t1
        where t1.after_sale_id = #{afterSaleId}
    </select>


    <select id="findPage" resultType="AfterSaleImeAllot">
        SELECT
        t1.*
        FROM
        crm_after_sale_ime_allot t1
        WHERE
        t1.enabled=1
        <if test="p.fromDepotName !=null">
            AND t1.from_depot_id in(
            select depot.id
            FROM crm_depot depot
            where depot.enabled=1 and depot.name like concat('%',#{p.fromDepotName},'%')
            )
        </if>
        <if test="p.toDepotName !=null">
            AND t1.to_depot_id in(
            select depot.id
            FROM crm_depot depot
            where depot.enabled=1 and depot.name like concat('%',#{p.toDepotName},'%')
            )
        </if>
        <if test="p.createdDateStart !=null">
            and t1.created_date >= #{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            and t1.created_date &lt;= #{p.createdDateEnd}
        </if>
        <if test="p.createdBy !=null">
            and t1.created_by in(
            select id
            from hr_account
            where login_name like concat('%',#{p.createdBy},'%')
            and endabled=1
            )
        </if>
    </select>

</mapper>
