<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.AfterSaleProductAllotMapper">

    <select id="findPage" resultType="AfterSaleProductAllot">
        SELECT
        t1.*
        FROM
        crm_after_sale_product_allot t1
        WHERE
        t1.enabled=1
        <if test="p.fromProductName !=null">
            AND t1.from_product_id in(
            select product.id
            FROM crm_product product
            where product.enabled=1 and product.name like concat('%',#{p.fromProductName},'%')
            )
        </if>
        <if test="p.toProductName !=null">
            AND t1.to_product_id in(
            select product.id
            FROM crm_product product
            where product.enabled=1 and product.name like concat('%',#{p.toProductName},'%')
            )
        </if>
        <if test="p.createdDateStart !=null">
            and t1.created_date >= #{p.createdDateStart}
        </if>
        <if test="p.createdDateEnd !=null">
            and t1.created_date &lt;= #{p.createdDateEnd}
        </if>
        <if test="p.createdBy !=null">
            and t1.created_by in(
            select id
            from hr_account
            where login_name like concat('%',#{p.createdBy},'%')
            and enabled=1
            )
        </if>
        <if test="p.storeName !=null">
            and t1.store_id in(
            select depot.id
            from crm_depot depot
            where depot.name like concat('%',#{p.storeName},'%')
            and depot.enabled=1
            )
        </if>
        <if test="p.fromOutCode !=null">
            and t1.from_out_code like concat('%',#{p.fromOutCode},'%')
        </if>
        <if test="p.toOutCode !=null">
        and t1.to_out_code like concat('%',#{p.toOutCode},'%')
       </if>
        <if test="p.afterSaleId !=null">
            and t1.after_sale_id like concat('%',#{p.afterSaleId},'%')
        </if>
    </select>

</mapper>
