<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.crm.mapper.ImeSaleReportMapper">

    <select id="findOfficeSaleDataReport" resultType="ImeSaleReport">
        select
        <if test="p.levelDiff!=null and p.levelDiff!=0">
            office${p.levelDiff}.id as 'key',
            office${p.levelDiff}.name as 'value',
        </if>
        <if test="p.levelDiff==null or p.levelDiff==0">
            t1.office_id as 'key',
            office.name as 'value',
        </if>
        t1.report_type,
        sum(t1.sale_qty) as sale_qty,
        sum(t1.town_qty) as town_qty,
        sum(t1.county_qty) as county_qty,
        sum(t1.city_qty) as city_qty,
        sum(t1.yidong_qty) as yidong_qty,
        sum(t1.lianxin_qty) as lianxin_qty,
        sum(t1.quanwangtong_qty) as quanwangtong_qty
        from
        crm_ime_sale_report t1,
        hr_office office
        <if test="p.levelDiff!=null and p.levelDiff!=0">
            <foreach collection="p.levelDiffList" index="index" item="item" open="," separator="," close="">
                hr_office office${item}
            </foreach>
        </if>
        where
        t1.enabled =1
        and t1.office_id = office.id
        <if test="p.levelDiff!=null and p.levelDiff!=0">
            and office${p.levelDiff}.type=#{p.officeType}
            and office.parent_id=office1.id
            <foreach collection="p.levelDiffList" index="index" item="item" open="" separator="" close="">
                <if test="item!=p.levelDiff">
                    and office${item}.parent_id=office${item+1}.id
                </if>
            </foreach>
        </if>
        and t1.report_date >= #{p.reportDateStart}
        and t1.report_date &lt;= #{p.reportDateEnd}
        <if test="p.parentOfficeId!=null">
            and office.parent_ids like CONCAT('%,',#{p.parentOfficeId},',%')
        </if>
        <if test="p.productName !=null ">
            and t1.product_id IN (
            select id
            from crm_product product
            where product.name like CONCAT('%',#{p.productName},'%')
            AND product.has_ime=1
            )
        </if>
        <include refid="net.myspring.future.modules.hr.mapper.OfficeMapper.officeFilter"/>
        <if test="p.levelDiff!=null and p.levelDiff!=0">
            group by office${p.levelDiff}.id,t1.report_type
            order by office${p.levelDiff}.name
        </if>
        <if test="p.levelDiff==null or p.levelDiff==0">
            group by office.id,t1.report_type
            order by office.name
        </if>
    </select>

    <select id="findProductSaleDataReport" resultType="ImeSaleReport">
        select
        <if test="p.productTypeId !=null">
            t1.product_id as 'key',
            product.name as 'value',
        </if>
        <if test="p.productTypeId ==null">
            productType.id as 'key',
            productType.name as 'value',
        </if>
        t1.report_type,
        sum(t1.sale_qty) as sale_qty,
        sum(t1.town_qty) as town_qty,
        sum(t1.county_qty) as countyQty,
        sum(t1.city_qty) as city_qty,
        sum(t1.yidong_qty) as yidong_qty,
        sum(t1.lianxin_qty) as lianxin_qty,
        sum(t1.quanwangtong_qty) as quanwangtong_qty
        from
        crm_ime_sale_report t1,
        crm_product product,
        crm_product_type productType,
        hr_office office
        where
        t1.enabled =1
        and t1.product_id=product.id
        and product.product_type_id=productType.id
        and t1.office_id=office.id
        and product.enabled=1
        and product.has_ime=1
        and productType.enabled=1
        <if test="p.productTypeId !=null">
            and productType.id=#{p.productTypeId}
        </if>
        <if test="p.productName !=null ">
            and product.name like CONCAT('%',#{p.productName},'%'))
        </if>
        and t1.report_date >= #{p.reportDateStart}
        and t1.report_date &lt;= #{p.reportDateEnd}
        <include refid="net.myspring.future.modules.hr.mapper.OfficeMapper.officeFilter"/>
        <if test="p.productTypeId !=null">
            group by t1.product_id,t1.report_type
            order by product.name
        </if>
        <if test="p.productTypeId ==null">
            group by productType.id,t1.report_type
            order by productType.name
        </if>
    </select>

</mapper>
