<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.myspring.future.modules.basic.mapper.PricesystemDetailMapper">

    <select id="findByPricesystemIds" resultType="PricesystemDetail">
        SELECT t1.*
        FROM crm_pricesystem_detail t1
        where 1=1
        and t1.pricesystem_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByProductIdList" resultType="PricesystemDetail">
        SELECT t1.*
        FROM crm_pricesystem_detail t1
        where 1=1
        and
        t1.product_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByPricesystemId" resultType="PricesystemDetail">
        SELECT t1.*
        FROM crm_pricesystem_detail t1,crm_product t2
        where t2.enabled=1
        and t1.product_id=t2.id
        and t1.pricesystem_id=#{pricesystemId}
    </select>

    <select id="findByPricesystemIdAndProductId" resultType="PricesystemDetail">
        select t1.* from crm_pricesystem_detail t1 where t1.pricesystem_id = #{pricesystemId} and t1.product_id = #{productId}
    </select>
</mapper>
